@using EuroCarsUSA.Data.Enums
@using EuroCarsUSA.Services.Interfaces
@using EuroCarsUSA.ViewModels
@using EuroCarsUSA.Views.Shared.Components
@using Microsoft.AspNetCore.Components
@model OrdersViewModel
@inject ICustomOrderService formService

<div class="bg-neutral-200 w-100 h-100 py-4">
    <div class="container p-5 pt-3 bg-white rounded-32 justify-content-center mb-2">
        <div class="d-flex justify-content-center">
            <div class="text-display-lg mb-3 text-subhead text-center border-bottom">
                Individual order
            </div>
        </div>
        <div class="text-display-sm text-subhead">
            This section dedicated to your personal requests. If cannot find your taste’s car you can apply you request to dealer via this section. Provide you personal preferences with the help of those filters. Provide you contact information so we can contact you back.
        </div>
    </div>

    <div class="container mt-4 mb-md-2 mb-3 ">
        <div class="row px-md-5 ">
            <div class="col-auto px-0">
                <div class="row mx-0 mb-2 mb-md-0 px-3 px-md-0">
                    <a asp-controller="Admin" asp-action="BackToCatalogWithFilters" class="col-auto ps-0 pe-3">
                        @await Html.PartialAsync("_Button", new _Button
                        {
                            Text = "Back",
                            Color = "primary",
                            Classes = "",
                            Attributes = "",
                            LeftIcon = await Html.PartialAsync("_Icon", new { IconName = Url.Content("Arrow back"), Color = "white" }),
                            RightIcon = null,
                            TextColor = ""
                        })
                    </a>
                    <a class="col-auto px-0">
                        @await Html.PartialAsync("_Button", new _Button
                        {
                            Text = "Individual order",
                            Color = "secondary",
                            Classes = "",
                            Attributes = "",
                            LeftIcon = null,
                            RightIcon = null,
                            TextColor = "text-primary"
                        })
                    </a>
                </div>           
            </div>
            <div class="col-md col-12 p-md-0 px-3 py-2 rounded-16 bg-white bg-md-transparent">
                <div class="row m-0 justify-content-end     ">
                    <div class="text-title-lg d-md-none text-neutral-900 mb-2 mb-md-0 px-0">Search order</div>
                    <div class="col-12 col-md-auto p-md-0 p-2 me-md-3 bg-secondary-200 mb-2 mb-md-0">
                        <component type="typeof(EditableField<int>)"
                        render-mode="ServerPrerendered"
                        param-CssClass="@( "h-100" )" />
                    </div>
                    <div class="col-12 col-md-auto d-flex flex-column justify-content-end px-0">
                        <a class="submit">
                            @await Html.PartialAsync("_Button", new _Button
                            {
                                Text = "Find",
                                Color = "primary",
                                Classes = "col-12 col-md-auto",
                                Attributes = "",
                                LeftIcon = await Html.PartialAsync("_Icon", new { IconName = Url.Content("Search"), Color = "white" }),
                                RightIcon = null,
                                TextColor = ""
                            })
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container p-3 bg-white rounded-32">
        <div class="">
            <span class="text-headline-sm ps-1">Client orders</span>
            <div class="bg-secondary-200 rounded-16 p-2 py-3 mb-3 mt-2">
                <div class="text-title-lg text-neutral-900 px-2">Sent</div>
                @if (Model.Sent.Count() > 0)
                {   
                    <div class="mt-2">
                        <div class="row gx-3 gy-3 mx-0">
                            @foreach (var order in Model.Sent)
                            {
                                <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                                    <div class="card box-shadow rounded-16 p-3">
                                        <div class="">
                                            <div class="row mx-0">
                                                <div class="justify-content-between row px-0 mx-0">
                                                    <div class="col px-0 text-title-md">
                                                        <div>@order.Id</div>
                                                    </div>
                                                    <div class="col-auto px-0">
                                                        <a asp-controller="CustomOrder" asp-action="Order" asp-route-id=@order.Id>
                                                            @await Html.PartialAsync("_IconButton", new { IconName = "Keyboard arrow right", Color = "primary", IconColor = "primary", Attributes = "" })
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr style="border-top: 1px solid #000;" class="mt-0 mb-2">

                                            <div class="row mx-0 fh-regular gap-2 overflow-hidden cardDetails" style="max-height: 500px;">
                                                <div class="row mx-0 px-0">
                                                    <div class="col-6 px-0">
                                                        <div class="d-flex align-items-center justify-content-start">
                                                            <div class="text-body-lg">Date added</div>
                                                        </div>
                                                        <div class="d-flex align-items-center justify-content-start">
                                                            <div class="text-body-md text-neutral-900 w-100">@order.Name</div>
                                                        </div>
                                                    </div>

                                                    <div class="col-6 px-0">
                                                        <div class="d-flex align-items-center justify-content-end">
                                                            <div class="text-body-lg">Name</div>
                                                        </div>
                                                        <div class="d-flex align-items-center justify-content-end">
                                                            <div class="text-body-md text-neutral-900">@order.Name</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mx-0 px-0">
                                                    <div class="col-6 px-0">
                                                        <div class="d-flex align-items-center justify-content-start">
                                                            <div class="text-body-lg">Email</div>
                                                        </div>
                                                        <div class="d-flex align-items-center justify-content-start">
                                                            <div class="text-body-md text-neutral-900 w-100">@order.Email</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 px-0">
                                                        <div class="d-flex align-items-center justify-content-end">
                                                            <div class="text-body-lg text-end">Phone number</div>
                                                        </div>
                                                        <div class="d-flex align-items-center justify-content-end ">
                                                            <div class="text-body-md text-neutral-900">@(order.PhoneNumber != null ? order.PhoneNumber : "Not provided")</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <hr style="border-top: 1px solid #000;" class="mt-0 mt-2 mb-1">

                                            <div class="row mx-0">
                                                <div class="justify-content-between row px-0 mx-0">
                                                    <div class="col px-0 text-label-lg">
                                                        <div>Status</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 px-0 text-title-md text-primary-900 d-flex justify-content-end">
                                                <select class="form-control" name="status-@order.Id" onchange="updateStatus('@order.Id', this.value)">
                                                    @foreach (var status in Enum.GetValues(typeof(OrderStatus)).Cast<OrderStatus>())
                                                    {
                                                        if (status == order.Status)
                                                        {
                                                            <option value="@status" selected>@status</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@status">@status</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
            <div class="bg-secondary-200 rounded-16 p-2 py-3 mb-3">
                <div class="text-title-lg text-neutral-900 px-2">Opened</div>
                @if (Model.Opened.Count() > 0)
                {
                    <div class="mt-2">
                        <div class="row gx-3 gy-3 mx-0 mt-2">
                            @foreach (var order in Model.Opened)
                            {
                                <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                                    <div class="card box-shadow rounded-16 p-3">
                                        <div class="">
                                            <div class="row mx-0">
                                                <div class="justify-content-between row px-0 mx-0">
                                                    <div class="col px-0 text-title-md">
                                                        <div>@order.Id</div>
                                                    </div>
                                                    <div class="col-auto px-0">
                                                        <a asp-controller="CustomOrder" asp-action="Order" asp-route-id=@order.Id>
                                                            @await Html.PartialAsync("_IconButton", new { IconName = "Keyboard arrow right", Color = "primary", IconColor = "primary", Attributes = "" })
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr style="border-top: 1px solid #000;" class="mt-0 mb-2">

                                            <div class="row mx-0 fh-regular gap-2 overflow-hidden cardDetails" style="max-height: 500px;">
                                                <div class="row mx-0 px-0">
                                                    <div class="col-6 px-0">
                                                        <div class="d-flex align-items-center justify-content-start">
                                                            <div class="text-body-lg">Date added</div>
                                                        </div>
                                                        <div class="d-flex align-items-center justify-content-start">
                                                            <div class="text-body-md text-neutral-900 w-100">@order.Name</div>
                                                        </div>
                                                    </div>

                                                    <div class="col-6 px-0">
                                                        <div class="d-flex align-items-center justify-content-end">
                                                            <div class="text-body-lg">Name</div>
                                                        </div>
                                                        <div class="d-flex align-items-center justify-content-end">
                                                            <div class="text-body-md text-neutral-900">@order.Name</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mx-0 px-0">
                                                    <div class="col-6 px-0">
                                                        <div class="d-flex align-items-center justify-content-start">
                                                            <div class="text-body-lg">Email</div>
                                                        </div>
                                                        <div class="d-flex align-items-center justify-content-start">
                                                            <div class="text-body-md text-neutral-900 w-100">@order.Email</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 px-0">
                                                        <div class="d-flex align-items-center justify-content-end">
                                                            <div class="text-body-lg text-end">Phone number</div>
                                                        </div>
                                                        <div class="d-flex align-items-center justify-content-end ">
                                                            <div class="text-body-md text-neutral-900">@(order.PhoneNumber != null ? order.PhoneNumber : "Not provided")</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <hr style="border-top: 1px solid #000;" class="mt-0 mt-2 mb-1">

                                            <div class="row mx-0">
                                                <div class="justify-content-between row px-0 mx-0">
                                                    <div class="col px-0 text-label-lg">
                                                        <div>Status</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 px-0 text-title-md text-primary-900 d-flex justify-content-end">
                                                <select class="form-control" name="status-@order.Id" onchange="updateStatus('@order.Id', this.value)">
                                                    @foreach (var status in Enum.GetValues(typeof(OrderStatus)).Cast<OrderStatus>())
                                                    {
                                                        if (status == order.Status)
                                                        {
                                                            <option value="@status" selected>@status</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@status">@status</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
            <div class="bg-secondary-200 rounded-16 p-2 py-3">
                <div class="text-title-lg text-neutral-900 px-2">Closed</div>
                
                @if (Model.Closed.Count() > 0)
                {
                    <div class="mt-2">
                        <div class="row gx-3 gy-3 mx-0 mt-2">
                        @foreach (var order in Model.Closed)
                        {
                            <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                                <div class="card box-shadow rounded-16 p-3">
                                    <div class="">
                                        <div class="row mx-0">
                                            <div class="justify-content-between row px-0 mx-0">
                                                <div class="col px-0 text-title-md">
                                                    <div>@order.Id</div>
                                                </div>
                                                <div class="col-auto px-0">
                                                    <a asp-controller="CustomOrder" asp-action="Order" asp-route-id=@order.Id>
                                                        @await Html.PartialAsync("_IconButton", new { IconName = "Keyboard arrow right", Color = "primary", IconColor = "primary", Attributes = "" })
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <hr style="border-top: 1px solid #000;" class="mt-0 mb-2">

                                        <div class="row mx-0 fh-regular gap-2 overflow-hidden cardDetails" style="max-height: 500px;">
                                            <div class="row mx-0 px-0">
                                                <div class="col-6 px-0">
                                                    <div class="d-flex align-items-center justify-content-start">
                                                        <div class="text-body-lg">Date added</div>
                                                    </div>
                                                    <div class="d-flex align-items-center justify-content-start">
                                                        <div class="text-body-md text-neutral-900 w-100">@order.Name</div>
                                                    </div>
                                                </div>

                                                <div class="col-6 px-0">
                                                    <div class="d-flex align-items-center justify-content-end">
                                                        <div class="text-body-lg">Name</div>
                                                    </div>
                                                    <div class="d-flex align-items-center justify-content-end">
                                                        <div class="text-body-md text-neutral-900">@order.Name</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mx-0 px-0">
                                                <div class="col-6 px-0">
                                                    <div class="d-flex align-items-center justify-content-start">
                                                        <div class="text-body-lg">Email</div>
                                                    </div>
                                                    <div class="d-flex align-items-center justify-content-start">
                                                        <div class="text-body-md text-neutral-900 w-100">@order.Email</div>
                                                    </div>
                                                </div>
                                                <div class="col-6 px-0">
                                                    <div class="d-flex align-items-center justify-content-end">
                                                        <div class="text-body-lg text-end">Phone number</div>
                                                    </div>
                                                    <div class="d-flex align-items-center justify-content-end ">
                                                        <div class="text-body-md text-neutral-900">@(order.PhoneNumber != null ? order.PhoneNumber : "Not provided")</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <hr style="border-top: 1px solid #000;" class="mt-0 mt-2 mb-1">

                                        <div class="row mx-0">
                                            <div class="justify-content-between row px-0 mx-0">
                                                <div class="col px-0 text-label-lg">
                                                    <div>Status</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 px-0 text-title-md text-primary-900 d-flex justify-content-end">
                                            <select class="form-control" name="status-@order.Id" onchange="updateStatus('@order.Id', this.value)">
                                                @foreach (var status in Enum.GetValues(typeof(OrderStatus)).Cast<OrderStatus>())
                                                {
                                                    if (status == order.Status)
                                                    {
                                                        <option value="@status" selected>@status</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@status">@status</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function updateStatus(formId, status) {
            $.ajax({
                url: '/Admin/SetOrderStatus',
                data: { id: formId, status: status },
                type: 'PUT',
                success: function () {
                    location.reload();
                },
                error: function () {
                    alert('An error occurred while updating form status.');
                }
            });
        }
    </script>
}

