@using EuroCarsUSA.Resources
@using EuroCarsUSA.ViewModels
@using EuroCarsUSA.Views.Shared.Components
@using Microsoft.AspNetCore.Components
@model List<CarStatisticViewModel>
@inject Localizer localizer

<div class="container bg-neutral-200 py-5">

    <div class="row mx-0 mb-2 px-3 d-flex align-items-stretch justify-content-end">
        <div class="d-flex px-0">
            <a href="javascript:history.back()" class="me-2">
                @await Html.PartialAsync("_Button", new _Button
                {
                    Text = localizer.Back,
                    Color = "primary",
                    Classes = "me-2",
                    Attributes = "",
                    LeftIcon = await Html.PartialAsync("_Icon", new { IconName = Url.Content("Arrow back"), Color = "white" }),
                    RightIcon = null,
                    TextColor = "",
                    Type = "button",
                })
            </a>
            <a asp-area="Admin" asp-action="Statistics">
                @await Html.PartialAsync("_Button", new _Button
                {
                    Text = @localizer.Statistics,
                    Color = "secondary",
                    Classes = "me-2",
                    Attributes = "",
                    LeftIcon = null,
                    RightIcon = null,
                    TextColor = "",
                    Type = "button",
                })
            </a>
        </div>
    </div>
    <div class="bg-secondary p-3 p-3 rounded-16">
        <div class="overflow-auto">
            <table class="table table-striped bg-white">
                <thead>
                    <tr>
                        <th>@localizer.Make</th>
                        <th>@localizer.Model</th>
                        <th>@localizer.Year</th>
                        <th>@localizer.Likes</th>
                        <th>@localizer.Views</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var car in Model)
                    {
                        <tr>
                            <td>@car.Make.ToString()</td>
                            <td>@car.Model</td>
                            <td>@car.Year</td>
                            <td>@car.Likes</td>
                            <td>@car.Views</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>