@model EuroCarsUSA.Views.Shared.Components._Button

@{
    string attributes = Model.Attributes;
    string classes = Model.Classes;

    string color = Model.Color;
    string text = Model.Text;
    string link = Model.Link;
    string type = Model.Type;

    var leftIcon = Model.LeftIcon;
    var rightIcon = Model.RightIcon;

    string customTextColor = Model.TextColor;

    bool hasLeftIcon = leftIcon != null;
    bool hasRightIcon = rightIcon != null;

    string backgroundColorValue = color == "primary" ? "bg-primary" : "bg-secondary";
    string textColorValue = "";
    if (!string.IsNullOrEmpty(customTextColor))
    {
        textColorValue = customTextColor;

    }
    else
    {
        if (color == "primary")
        {
            textColorValue = "text-white";
        }
        else
        {
            textColorValue = "text-primary";
        }
    }
}

<button @Html.Raw(attributes) type="@type" class="@Html.Raw($"text-title-sm btn-custom {classes} {backgroundColorValue} {textColorValue} {(hasLeftIcon ? "ps-3" : "ps-4")} {(hasRightIcon ? "pe-3" : "pe-4")}")">
    @if (hasLeftIcon)
    {
        @leftIcon
    }

    <span href="@link" class="text-nowrap">@text</span>

    @if (hasRightIcon)
    {
        @rightIcon
    }
</button>
