@using EuroCarsUSA.Resources
@using EuroCarsUSA.ViewModels
@using EuroCarsUSA.Controllers
@using EuroCarsUSA.Data.Enums
@using EuroCarsUSA.Extensions
@using EuroCarsUSA.Models
@using Microsoft.Extensions.Localization
@model CarCardViewModel
@inject IStringLocalizer<HomeController> Translator
@inject Localizer localizer
    
@{
    string mainPaddingClass = Model.IsFullSize ? "p-3" : "";
    string detailPaddingClass = Model.IsFullSize ? "" : "p-2";
    string headerPaddingClass = Model.IsFullSize ? "pt-3" : "";
    string imageContainerClass = Model.IsFullSize ? "" : "smallCont";
}

<div class="@Html.Raw(Model.Classes)">
    <a asp-controller="Home" asp-action="Detail" asp-route-id=@Model.Id class="text-black text-decoration-none">
        <div class="card @(mainPaddingClass) box-shadow rounded-16">
            <div class="img-container @(imageContainerClass) overflow-hidden">
                <img class="card-img float-left" src=@(Model.Images.Count > 0 ? Model.Images[0] : "https://www.freeiconspng.com/uploads/no-image-icon-6.png") alt=@(Model.Color.ToString() + Model.Make.ToString() + Model.Model)>
                <div class="row position-absolute end-0 mx-0">
                    <div class="justify-content-end p-0">
                        @if (Model.IsLiked)
                        {
                            @await Html.PartialAsync("Components/Buttons/LikePressed", Model.Id)
                        }
                        else
                        {
                            @await Html.PartialAsync("Components/Buttons/LikeUnpressed", Model.Id)
                        }
                    </div>
                </div>
            </div>
            <div class="@(detailPaddingClass)">
                <div class="row mx-0 @(headerPaddingClass)">
                    <div class="justify-content-between row px-0 mx-0">
                        <div class="col px-0 text-title-md">
                            <b>@(Model.Make + " " + Model.Model)</b>
                            @if (Model.IsFullSize)
                            {
                                <div class="col-12 px-0 text-title-sm text-primary-900">
                                    <div class="mb-0">@string.Format(new System.Globalization.CultureInfo("pl-PL"), "{0:N0}", Model.Price) PLN</div>
                                </div>
                            }
                        </div>
                        @if (Model.IsFullSize) 
                        {
                            <div class="col-auto px-0 text-title-md align-items-center" style="height:44px">
                                @Html.Partial("_IconButton", new { IconName = "Keyboard arrow up", Color = "primary", IconColor = "primary", Attributes = $"id=\"icon-{@Model.Id}\" onclick=\"toggleDetails('{@Model.Id}', event)\"" })
                            </div>
                        }
                    </div>
                
                </div>
                
                <!-- divider -->
                <hr style="border-top: 1px solid #000;" class="mt-0 mb-2">
                

                <div class="row mx-0 fh-regular gap-2 overflow-hidden cardDetails" id="details-@(Model.Id)" style="max-height: 500px;">
                    
                    @if (Model.IsFullSize)
                    {
                        <div class="row mx-0 px-0">
                            <div class="col px-0">
                                <div class="d-flex align-items-center justify-content-start">
                                    <img class="carIcon" src="/icons/car_millage.svg">
                                    <div class="ms-2 text-body-lg">@localizer.Mileage</div>
                                </div>
                                <div class="d-flex align-items-center justify-content-start">
                                    <div class="text-body-md text-neutral-900">@Model.Mileage</div>
                                    <div class="ms-2 text-body-md text-neutral-900">km</div>
                                </div>
                            </div>

                            <div class="col px-0">
                                <div class="d-flex align-items-center justify-content-end">
                                    <img class="carIcon" src="/icons/car_year.svg">
                                    <div class="ms-2 text-body-lg">@localizer.Year</div>
                                </div>
                                <div class="d-flex align-items-center justify-content-end">
                                    <div class="text-body-md text-neutral-900">@Model.Year</div>
                                </div>
                            </div>
                        </div>
                        <div class="row mx-0 px-0">
                            <div class="col px-0">
                                <div class="d-flex align-items-center justify-content-start">
                                    <img class="carIcon" src="/icons/car_year.svg">
                                    <div class="ms-2 text-body-lg"> @localizer.FuelType </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-start">
                                    <div class="text-body-md text-neutral-900">@(((CarFuelType)Model.FuelType).ToLocalizedString(Translator))</div>
                                </div>
                            </div>
                            <div class="col px-0">
                                <div class="d-flex align-items-center justify-content-end">
                                    <img class="carIcon" src="/icons/car_gearbox.svg">
                                    <div class="ms-2 text-body-lg">@localizer.Gearbox</div>
                                </div>
                                <div class="d-flex align-items-center justify-content-end">
                                    <div class="text-body-md text-neutral-900">@(((CarTransmission)Model.Transmission).ToLocalizedString(Translator))</div>
                                </div>
                            </div>


                        </div>
                        <div class="row mx-0 px-0">
                            <div class="col px-0">
                                <div class="d-flex align-items-center justify-content-start">
                                    <img class="carIcon" src="/icons/car_engine.svg">
                                    <div class="ms-2 text-body-lg">@localizer.EngineVolume</div>
                                </div>
                                <div class="d-flex align-items-center justify-content-start">
                                    <div class="text-body-md text-neutral-900">@(Model.FuelType == CarFuelType.Electric ? localizer.Electric : $"{Model.EngineVolume.ToString()} cm3")</div>
                                </div>
                            </div>

                            <div class="col px-0">
                                <div class="d-flex align-items-center justify-content-end">
                                    <img class="carIcon" src="/icons/car_gearbox.svg">
                                    <div class="ms-2 text-body-lg">@localizer.BodyType</div>
                                </div>
                                <div class="d-flex align-items-center justify-content-end">
                                    <div class="text-body-md text-neutral-900">@(((CarType)Model.Type).ToLocalizedString(Translator))</div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="d-none d-sm-flex row mx-0 px-0">
                            <div class="col px-0">
                                <div class="d-flex align-items-center justify-content-start">
                                    <img class="carIcon" src="/icons/car_millage.svg">
                                    <div class="ms-2 text-body-lg"> @localizer.Mileage </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-start">
                                    <div class="text-body-md text-neutral-900">@Model.Mileage</div>
                                    <div class="ms-2 text-body-md text-neutral-900">km</div>
                                </div>
                            </div>

                            <div class="col px-0">
                                <div class="d-flex align-items-center justify-content-end">
                                    <img class="carIcon" src="/icons/car_year.svg">
                                    <div class="ms-2 text-body-lg">@localizer.Year</div>
                                </div>
                                <div class="d-flex align-items-center justify-content-end">
                                    <div class="text-body-md text-neutral-900">@Model.Year</div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @if (!Model.IsFullSize)
                {
                    <div class="col-12 px-0 text-title-md text-primary-900 d-flex justify-content-end mt-0 mt-sm-2">
                        <div class="mb-0">@string.Format(new System.Globalization.CultureInfo("pl-PL"), "{0:N0}", Model.Price) PLN</div>
                    </div>
                }
            </div>
            
        </div>
    </a>
</div>

