@model FormViewModel
@using EuroCarsUSA.Controllers
@using EuroCarsUSA.Resources
@using EuroCarsUSA.ViewModels
@using EuroCarsUSA.Views.Shared.Components
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CustomOrderController> Translator
@inject Localizer localizer

<div class="form-viewmodel-container p-3 bg-secondary-100 rounded-16" data-index="@Model.Index">
    <div class="d-flex justify-content-between position-relative ">
        <div class="text-title-lg text-neutral-900">
            @localizer.Form @(Model.Index + 1)
        </div>
        <div class="position-absolute end-0 align-self-center d-flex">
            
            <a class="">
                @await Html.PartialAsync("_IconButton", new
                    {
                        IconName = "Delete",
                        Color = "primary",
                        IconColor = "primary",
                        Attributes = $"type=\"button\" onclick=\"removeForm(this)\""
                    })
            </a>
            <a class="d-none">
                @await Html.PartialAsync("_IconButton", new
                    {
                        IconName = "More horiz",
                        Color = "primary",
                        IconColor = "primary",
                        Attributes = $"type=\"button\" "
                    })
            </a>
            <a class="">
                @await Html.PartialAsync("_IconButton", new
                    {
                        IconName = "Keyboard arrow up",
                        Color = "primary",
                        IconColor = "primary",
                        Attributes = $"type=\"button\" id=\"icon-{(Model.Index + 1)}\" onclick=\"toggleOrderVisibility('{(Model.Index + 1)}')\""
                    })
            </a>
        </div>     
    </div>
    <div id="expanded-@(Model.Index + 1)" class="order-details px-2 customOrderForm" style="max-height:360px;">
        <h5 class="mb-3"></h5>
        <div class="row g-3 mb-3">
            <div class="form-group col-md-4 col-12">
                @await Html.PartialAsync("_MultipleChoiceDropdown", new _MultipleChoiceDropdown
           {
               DropdownId = $"dropdownMenuButton{Model.Index}",
               Placeholder = localizer.Choose,
               Overline = localizer.Make,
               Name = $"Forms[{Model.Index}].CarMakes",
               InputId = $"carmakesInput{Model.Index}",
               SelectedValues = Model.CarMakes.Select(m => m.ToString()),
               Options = ViewBag.AvailableFilters["make"],
               Translator = Translator
           })
            </div>
            <div class="form-group col-md-4 col-12">
                @await Html.PartialAsync("_MultipleChoiceDropdown", new _MultipleChoiceDropdown
           {
               DropdownId = $"dropdownMenuButtonColors{Model.Index}",
               Placeholder = localizer.Choose,
               Overline = localizer.Color,
               Name = $"Forms[{Model.Index}].CarColors",
               InputId = $"carcolorsInput{Model.Index}",
               SelectedValues = Model.CarColors.Select(c => c.ToString()),
               Options = ViewBag.AvailableFilters["color"],
               Translator = Translator
           })
            </div>
            <div class="form-group col-md-4 col-12">
                @await Html.PartialAsync("_MultipleChoiceDropdown", new _MultipleChoiceDropdown
           {
               DropdownId = $"dropdownMenuButtonTypes{Model.Index}",
               Placeholder = localizer.Choose,
               Overline = localizer.CarType,
               Name = $"Forms[{Model.Index}].CarTypes",
               InputId = $"cartypesInput{Model.Index}",
               SelectedValues = Model.CarTypes.Select(t => t.ToString()),
               Options = ViewBag.AvailableFilters["carType"],
               Translator = Translator
           })
            </div>
        </div>
        <div class="row g-3 mb-3">
            <div class="form-group col-md-4 col-12">
                @await Html.PartialAsync("_MultipleChoiceDropdown", new _MultipleChoiceDropdown
           {
               DropdownId = $"dropdownMenuButtonFuelTypes{Model.Index}",
               Placeholder = localizer.Choose,
               Overline = localizer.FuelType,
               Name = $"Forms[{Model.Index}].CarFuelTypes",
               InputId = $"carfueltypesInput{Model.Index}",
               SelectedValues = Model.CarFuelTypes.Select(f => f.ToString()),
               Options = ViewBag.AvailableFilters["fuelType"],
               Translator = Translator
           })
            </div>
            <div class="form-group col-md-4 col-12">
                @await Html.PartialAsync("_MultipleChoiceDropdown", new _MultipleChoiceDropdown
           {
               DropdownId = $"dropdownMenuButtonTransmissions{Model.Index}",
               Placeholder = localizer.Choose,
               Overline = localizer.Transmission,
               Name = $"Forms[{Model.Index}].CarTransmissions",
               InputId = $"cartransmissionsInput{Model.Index}",
               SelectedValues = Model.CarTransmissions.Select(t => t.ToString()),
               Options = ViewBag.AvailableFilters["transmission"],
               Translator = Translator
           })
            </div>
            <div class="form-group col-md col-12">
                <div class="line-edit position-relative">
                    <label class="line-edit-text-field d-flex row m-0 bg-white position-relative" asp-for="Model">
                        <div class="line-edit-state-layer row m-0 py-1 px-0 d-flex ps-3 pe-3">
                            <div class="line-edit-content col p-0 d-block w-100 align-content-center">
                                <div class="row m-0 ">
                                    <div class="line-edit-label-text col p-0 py-1">
                                        <div class="line-edit-overline-text text-label-md text-neutral-900 row m-0">
                                            @localizer.Model
                                        </div>
                                        <div class="text-body-lg text-neutral-900 row m-0">
                                            <input class="p-0 text-neutral-900 line-edit-input" placeholder="@localizer.Model" asp-for="Model" name="@($"Forms[{Model.Index}].Model")">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="active-indicator position-absolute w-100"> </div>
                    </label>
                    <span class="line-edit-supportive-text text-label-md text-neutral-900 px-3 m-0 pt-1 d-flex text-byzantine" asp-validation-for="Model">
                    </span>
                </div>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-md-8 col-12">
                <div class="row g-3 mb-3">
                    <div class="form-group col-md col-12">
                        <div class="line-edit position-relative">
                            <label class="line-edit-text-field d-flex row m-0 bg-white position-relative" asp-for="MaxPrice">
                                <div class="line-edit-state-layer row m-0 py-1 px-0 d-flex ps-3 pe-3">
                                    <div class="line-edit-content col p-0 d-block w-100 align-content-center">
                                        <div class="row m-0 ">
                                            <div class="line-edit-label-text col p-0 py-1">
                                                <div class="line-edit-overline-text text-label-md text-neutral-900 row m-0">
                                                    @localizer.MaxPrice
                                                </div>
                                                <div class="text-body-lg text-neutral-900 row m-0">
                                                    <input class="p-0 text-neutral-900 line-edit-input" placeholder="@localizer.MaxPrice" asp-for="MaxPrice" name="@($"Forms[{Model.Index}].MaxPrice")">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="active-indicator position-absolute w-100"> </div>
                            </label>
                            <span class="line-edit-supportive-text text-label-md text-neutral-900 px-3 m-0 pt-1 d-flex text-byzantine" asp-validation-for="MaxPrice">
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md col-12">
                        <div class="line-edit position-relative">
                            <label class="line-edit-text-field d-flex row m-0 bg-white position-relative" asp-for="MaxMileage">
                                <div class="line-edit-state-layer row m-0 py-1 px-0 d-flex ps-3 pe-3">
                                    <div class="line-edit-content col p-0 d-block w-100 align-content-center">
                                        <div class="row m-0 ">
                                            <div class="line-edit-label-text col p-0 py-1">
                                                <div class="line-edit-overline-text text-label-md text-neutral-900 row m-0">
                                                    @localizer.MaxMileage
                                                </div>
                                                <div class="text-body-lg text-neutral-900 row m-0">
                                                    <input class="p-0 text-neutral-900 line-edit-input" placeholder="@localizer.MaxMileage" asp-for="MaxMileage" name="@($"Forms[{Model.Index}].MaxMileage")">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="active-indicator position-absolute w-100"> </div>
                            </label>
                            <span class="line-edit-supportive-text text-label-md text-neutral-900 px-3 m-0 pt-1 d-flex text-byzantine" asp-validation-for="MaxMileage">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="form-group col-md col-12">
                        <div class="line-edit position-relative">
                            <label class="line-edit-text-field d-flex row m-0 bg-white position-relative" asp-for="MinYear">
                                <div class="line-edit-state-layer row m-0 py-1 px-0 d-flex ps-3 pe-3">
                                    <div class="line-edit-content col p-0 d-block w-100 align-content-center">
                                        <div class="row m-0 ">
                                            <div class="line-edit-label-text col p-0 py-1">
                                                <div class="line-edit-overline-text text-label-md text-neutral-900 row m-0">
                                                    @localizer.MinYear
                                                </div>
                                                <div class="text-body-lg text-neutral-900 row m-0">
                                                    <input class="p-0 text-neutral-900 line-edit-input" placeholder="@localizer.MinYear" asp-for="MinYear" name="@($"Forms[{Model.Index}].MinYear")">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="active-indicator position-absolute w-100"> </div>
                            </label>
                            <span class="line-edit-supportive-text text-label-md text-neutral-900 px-3 m-0 pt-1 d-flex text-byzantine" asp-validation-for="MinYear">
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md col-12">
                        <div class="line-edit position-relative">
                            <label class="line-edit-text-field d-flex row m-0 bg-white position-relative" asp-for="MaxYear">
                                <div class="line-edit-state-layer row m-0 py-1 px-0 d-flex ps-3 pe-3">
                                    <div class="line-edit-content col p-0 d-block w-100 align-content-center">
                                        <div class="row m-0 ">
                                            <div class="line-edit-label-text col p-0 py-1">
                                                <div class="line-edit-overline-text text-label-md text-neutral-900 row m-0">
                                                    @localizer.MaxYear
                                                </div>
                                                <div class="text-body-lg text-neutral-900 row m-0">
                                                    <input class="p-0 text-neutral-900 line-edit-input" placeholder="@localizer.MaxYear" asp-for="MaxYear" name="@($"Forms[{Model.Index}].MaxYear")">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="active-indicator position-absolute w-100"> </div>
                            </label>
                            <span class="line-edit-supportive-text text-label-md text-neutral-900 px-3 m-0 pt-1 d-flex text-byzantine" asp-validation-for="MaxYear">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4 col-12">
                <div class="line-edit position-relative">
                    <label class="line-edit-text-field d-flex row m-0 bg-white position-relative" asp-for="Description">
                        <div class="line-edit-state-layer row m-0 py-1 px-0 d-flex ps-3 pe-3">
                            <div class="line-edit-content col p-0 d-block w-100 align-content-center">
                                <div class="row m-0 ">
                                    <div class="line-edit-label-text col p-0 py-1">
                                        <div class="line-edit-overline-text text-label-md text-neutral-900 row m-0">
                                            @localizer.Description
                                        </div>
                                        <div class="text-body-lg text-neutral-900 row m-0">
                                            <textarea class="p-0 text-neutral-900 line-edit-input" placeholder="@localizer.Description" asp-for="Description" name="@($"Forms[{Model.Index}].Description")" style="height:100px"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="active-indicator position-absolute w-100"> </div>
                    </label>
                    <span class="line-edit-supportive-text text-label-md text-neutral-900 px-3 m-0 pt-1 d-flex text-byzantine" asp-validation-for="Description">
                    </span>
                </div>
            </div>
        </div>
    </div>



    <script>
        document.addEventListener("DOMContentLoaded", () => {
            updateDropdownHeadline();
        });
    </script>
</div>
