@using EuroCarsUSA.Resources
@using EuroCarsUSA.Views.Shared.Components

@inject Localizer localizer
@model IEnumDropdown

<div class="@Model.CssClass">
    <div class="dropdown">
        @{
            string optionName = "";
            var options = Enum.GetValues(Model.Value.GetType()).Cast<Enum>().ToList();

            if (Model.Value == null || !options.Contains(Model.Value) || Convert.ToInt32(Model.Value) == 0)
            {
                Model.Value = options.First();
            }

            foreach (var option in options)
            {
                if (option.ToString() == Model.Value.ToString())
                {
                    optionName = localizer.GetValue($"{option.GetType().Name}_{option}");
                }
            }
        }
        @Html.Partial("_ExpandButton", new _ExpandButton
        {
            Classes = "",
            Attributes = $"type=\"button\" id=\"dropdownOptionButton\" data-bs-toggle=\"dropdown\" aria-expanded=\"false\" name=\"{@Model.Name}\"",
            Placeholder = optionName,
            ShowOverline = true,
            ShowOverlineInside = true,
            HasOutsidOverlineSizeEffect = true,
            Overline = Model.Overline,
            ShowAdditionalBackground = true
        })
        <ul class="dropdown-menu w-100 overflow-auto" name="@Model.Name" aria-labelledby="dropdownOptionButton" style="max-height: 240px;">
            @foreach (var option in Enum.GetValues(Model.Value.GetType()))
            {
                <li>
                    @Html.Partial("_ListItem", new _ListItem
                    {
                        Classes = "dropdown-item p-0",
                        Headline = localizer.GetValue($"{option.GetType().Name}_{option}"),
                        Attributes = $"data-value='{option}'",
                        ShowDivider = true,
                        Clickable = true,
                    })
                </li>
            }
        </ul>
    </div>
    <select hidden id="editCatalogOptionSelect" name="@Model.Name">
        @foreach (var option in Enum.GetValues(Model.Value.GetType()))
        {
            if (option.ToString() == Model.Value.ToString())
            {
                <option value="@option" selected>
                    @localizer.GetValue($"{option.GetType().Name}_{option}")
                </option>
            }
            else
            {
                <option value="@option">
                    @localizer.GetValue($"{option.GetType().Name}_{option}")
                </option>
            }
        }
    </select>
</div>