@model EuroCarsUSA.Views.Shared.Components._LineEdit

@{
    string classes = Model.Classes ?? "";
    string attributes = Model.Attributes ?? "";

    var leading = Model.Leading;
    var trailing = Model.Trailing;

    string noLeadingClass = leading == null ? "ps-3" : "";
    string noTrailingClass = trailing == null ? "pe-3" : "";

    string headline = Model.Placeholder;

    bool showOverline = Model.ShowOverline;
    bool showOverlineInside = Model.ShowOverlineInside;
    bool hasOutsidOverlineSizeEffect = Model.HasOutsidOverlineSizeEffect;

    string noOverlineSizeEffectClass = hasOutsidOverlineSizeEffect ? "" : "position-absolute";
    string noOverlineSizeEffectStyle = hasOutsidOverlineSizeEffect ? "" : "transform: translateY(-16px);";

    string overline = Model.Overline;

    bool showSupportive = Model.ShowSupportive;
    string noSupportiveClass = showSupportive ? "d-block" : "d-none";

    bool hasOutsideSupportiveSizeEffect = Model.HasOutsideSupportiveSizeEffect;
    string noSupportiveSizeEffectClass = hasOutsideSupportiveSizeEffect ? "" : "position-absolute";

    string supportive = Model.Supportive;

    bool showAdditional = Model.ShowAdditional;
    bool showAdditionalBackground = Model.ShowAdditionalBackground;
    string additionalBackgroundClass = showAdditionalBackground ? "bg-secondary" : "";
    string additional = Model.Additional;

    string onlyPlaceholderClass = "";
    bool noIcons = ((leading == null) && (trailing == null));
    bool noOverline = string.IsNullOrEmpty(overline);
    bool noOverlineInside = ((showOverlineInside == null) || (showOverlineInside == false));


    if (noIcons && (noOverline || noOverlineInside))
    {
        onlyPlaceholderClass = "line-edit-only-placeholder";
    }
}

<div class="@Html.Raw($"line-edit  position-relative {classes}")">
    @if (showOverline && !showOverlineInside)
    {
        <div class="line-edit-overline-text text-label-md px-1 @noOverlineSizeEffectClass" style="@noOverlineSizeEffectStyle">
            @overline
        </div>
    }

    <label class="line-edit-text-field d-flex row m-0 bg-white position-relative">
        <div class="line-edit-state-layer row m-0 py-1 px-0 d-flex @noLeadingClass @noTrailingClass">
            @if (leading != null)
            {
                <div class="line-edit-leading-element col-auto center-items">
                    @leading
                </div>
            }

            <div class="line-edit-content col p-0 d-block w-100 align-content-center">
                <div class="row m-0 ">
                    <div class="line-edit-label-text col p-0 py-1">
                        @if (showOverline && showOverlineInside)
                        {
                            <div class="line-edit-overline-text text-label-md text-neutral-900 row m-0">
                                @overline
                            </div>
                        }
                        <div class="text-body-lg text-neutral-900 row m-0">
                            <input class="@Html.Raw($"p-0 text-neutral-900 line-edit-input {onlyPlaceholderClass}")" @Html.Raw(attributes) placeholder="@(headline)" oninput="validateInput(this)">
                        </div>
                    </div>
                    @if (showAdditional)
                    {
                        <div class=" col-auto line-edit-trailng-supportive-text text-label-sm text-primary-900 p-0 align-content-center">
                            <div class="d-flex  @additionalBackgroundClass rounded-16 align-items-center justify-content-center "
                                 style="width: 24px; height:24px;">
                                @additional
                            </div>
                        </div>
                    }
                </div>
            </div>
            @if (trailing != null)
            {
                <div class="col-auto p-0 d-flex line-edit-trailing-element">
                    @trailing
                </div>
            }
        </div>

        <div class="active-indicator position-absolute w-100"> </div>
    </label>


    <div class="line-edit-supportive-text text-label-md text-neutral-900 row px-3 m-0 pt-1 @noSupportiveSizeEffectClass @noSupportiveClass">
        @if (showSupportive)
        {
            @supportive
            ;
        }
    </div>
</div>

