@model EuroCarsUSA.Views.Shared.Components._ListItem

@{
    string classes = Model.Classes;
    string attributes = Model.Attributes;

    var leading = Model.Leading;
    var trailing = Model.Trailing;

    bool clickable = Model.Clickable;
    string tag = clickable ? "label" : "div";
    string clickableClass = clickable ? "cursor-pointer" : "";

    string headline = Model.Headline;

    bool showOverline = Model.ShowOverline;
    bool showOverlineInside = Model.ShowOverlineInside;
    bool hasOutsidOverlineSizeEffect = Model.HasOutsidOverlineSizeEffect;

    string noOverlineSizeEffectClass = hasOutsidOverlineSizeEffect ? "" : "position-absolute";
    string noOverlineSizeEffectStyle = hasOutsidOverlineSizeEffect ? "" : "transform: translateY(-16px);";

    string overline = Model.Overline;

    bool showSupportive = Model.ShowSupportive;
    bool showSupportiveInside = Model.ShowSupportiveInside;
    bool hasOutsideSupportiveSizeEffect = Model.HasOutsideSupportiveSizeEffect;
    string noSupportiveSizeEffectClass = hasOutsideSupportiveSizeEffect ? "" : "position-absolute";
    string supportive = Model.Supportive;

    string condition = Model.Condition;
    string finalCondition = condition;

    if (condition == "1-line")
    {
        showSupportive = false;
    }
    if (!showSupportive)
    {
        finalCondition = "1-line";
    }
    string twoLineClass = (finalCondition == "2-line") ? "two-line" : "";
    string heightStyle = (finalCondition == "3-line" && showSupportiveInside) ? "68px;" : "";
    string noThreeLineClass = (finalCondition == "3-line" && showSupportiveInside) ? "" : "center-items";

    bool showAdditional = Model.ShowAdditional;
    bool showAdditionalBackground = Model.ShowAdditionalBackground;
    string additionalBackgroundClass = showAdditionalBackground ? "bg-secondary" : "";
    string additional = Model.Additional;

    bool showDivider = Model.ShowDivider;
    string dividerClass = showDivider ? "divider-shadow-neutral600" : "";

    string onlyPlaceholderClass = "";
    bool noIcons = ((leading == null) && (trailing == null));
    bool noOverline = string.IsNullOrEmpty(overline);
    bool noOverlineInside = ((showOverlineInside == null) || (showOverlineInside == false));


    if (noIcons && (noOverline || noOverlineInside))
    {
        onlyPlaceholderClass = "line-edit-only-placeholder";
    }
}

<div class="@Html.Raw($"list-item position-relative {classes}")" @Html.Raw($"{attributes}")>
    @if (showOverline && !showOverlineInside)
    {
        <div class="list-item-overline-text text-label-md text-neutral-900 px-1 @noOverlineSizeEffectClass" style="@noOverlineSizeEffectStyle">
            @overline
        </div>
    }

    <div class="list-item-state-building-block bg-white">
        <@(Html.Raw(tag)) class="list-item-state-layer py-2 ps-3 pe-4 row d-flex m-0 @Html.Raw(clickableClass)">

            @if (leading != null)
            {
            <div class="list-item-leading-element col-auto p-0 me-3 @noThreeLineClass">
                    @leading
            </div>
            }

        <div class="list-item-content col p-0 d-block w-100 align-content-center">
                @if ((showOverline == true) && (showOverlineInside == true))
                {
                <div class="list-item-overline-text text-label-md text-neutral-900 row m-0">
                        @overline
                </div>
                }
                <div class="@Html.Raw($"text-body-lg text-neutral-900 row m-0 align-content-center {onlyPlaceholderClass}")">
                    @headline
                </div>

                @if ((showSupportive) && (showSupportiveInside))
                {
                <div class="list-item-supportive-text text-body-md text-neutral-900 row m-0 @twoLineClass">
                        @supportive
                </div>
                }
        </div>

            @if ((trailing != null) || (showAdditional == true))
            {
            <div class="list-item-trailing-element col p-0 ms-3 justify-content-end @noThreeLineClass">
                <div class="row m-0 align-items-center w-100 @Html.Raw((showAdditional && showAdditionalBackground) ? "" : "overflow-hidden")" style="height: @heightStyle">
                
                    @if (showAdditional)
                    {
                        @if (showAdditionalBackground)
                        {
                            <div class="col d-flex list-item-trailng-supportive-text text-label-sm text-primary-900 p-0 @additionalBackgroundClass rounded-16 justify-content-center align-items-center text-nowrap position-relative"
                                    style="height:24px; width: 24px; margin-inline-end: 10px">
                                <div class="position-absolute">
                                    @additional
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col d-flex list-item-trailng-supportive-text text-label-sm text-primary-900 p-0 @additionalBackgroundClass rounded-16 justify-content-start align-items-center text-truncate"
                                    style="margin-inline-end: 10px">
                                @additional
                            </div>
                        }
                    }
                        

                    @if (trailing != null)
                    {
                    <div class="col-auto p-0 d-flex">
                            @trailing
                    </div>
                    }
                </div>
            </div>
            }
        </@(Html.Raw(tag))>
    </div>

    @if (showDivider)
    {
        <div class="position-absolute border-2 border-bottom border-neutral600 w-100" style="right: 0; transform: translateY(-1.6px);"> </div>
    }

    @if (showSupportive && !showSupportiveInside)
    {
        <div class="list-item-supportive-text text-label-md text-neutral-900 row px-3 m-0 pt-1 @noSupportiveSizeEffectClass" style="rigth: 0;">
            @supportive
        </div>
    }
</div>
