@using EuroCarsUSA.Views.Shared.Components
@model EuroCarsUSA.Views.Shared.Components._MultipleChoiceDropdown

@{
    string dropdownId = Model.DropdownId;
    string placeholder = Model.Placeholder;
    string overline = Model.Overline;
    var selectedValues = Model.SelectedValues;
    var options = Model.Options;
    var name = Model.Name;
}

<div class="pt-0" name="@name">
    <div class="dropdown w-100">
        @Html.Partial("_ExpandButton", new _ExpandButton
        {
            Classes="",
            Attributes = $"type=\"button\" id=\"{dropdownId}\" data-bs-toggle=\"dropdown\" aria-expanded=\"false\"",
            Placeholder = (selectedValues.Any() ? string.Join(", ", selectedValues) : placeholder),
            ShowOverline = true,
            ShowOverlineInside = true,
            ShowAdditionalBackground = true
        })
        <ul class="dropdown-menu w-100" name="@Model.Name" aria-labelledby="@dropdownId">
            @foreach (var option in options)
            {
                <li>
                    @Html.Partial("_ListItem", new _ListItem
                       {
                           Classes = "dropdown-item p-0",
                           Leading = Html.Partial("_Checkbox", new _Checkbox
                           {
                               Attributes = $"value=\"{option.OriginalValue}\" {(selectedValues.Contains(option.OriginalValue) ? "checked" : "")}"
                           }),
                           Headline = option.TranslatedValue,
                           ShowDivider = true,
                           Clickable = true,
                       })
                </li>
            }
        </ul>
    </div>
    <select multiple hidden id="@Model.InputId" name="@Model.Name">
        @foreach (var value in selectedValues)
        {
            <option selected>@value</option>
        }
    </select>
</div>
