@model DetailPageForm


<div id="successMessage" class="alert alert-secondary text-primary border-primary rounded-xxl py-2 px-3 start-50 translate-middle fs-4" style="display: none; position: fixed; top: 0; text-align: center; z-index: 1000; margin-top: 5%">
    Message sent!
</div>

<div class="row justify-content-md-center">
    
    <div class="col-md-8 px-3">
        @*path*@
        <div class="ms-xl-0 ms-2 mb-3">
            <a asp-controller="Home" asp-action="BackToIndexWithFilters" class="btn fh-button-text px-3 py-2 btn-secondary border-0 rounded-pill me-1 d-inline-flex align-items-center">
                <img class="carIcon" src="~/icons/arrow_left_alt.svg" /> <span>Back</span>
            </a>

            <a asp-controller="Home" asp-action="Index" asp-route-make="@ViewBag.Car.Make" class="btn fh-button-text px-3 py-2 btn-secondary border-0 rounded-pill me-1">
                @ViewBag.Car.Make
            </a>
            <a asp-controller="Home" asp-action="Index" asp-route-make="@ViewBag.Car.Make" asp-route-model="@ViewBag.Car.Model" class="btn fh-button-text  px-3 py-2 btn-secondary border-0 rounded-pill">
                @ViewBag.Car.Model
            </a>
        </div>

        @*Images*@
        <div class="gallery" id="gallery" itemscope itemtype="http://schema.org/ImageGallery">
            <div class="position-relative" id="mainPictureContainer">
                <div class="arrow-container">
                    <img id="leftArrowButton" class="galleryIcon" src="~/icons/keyboard_arrow_left.svg" />
                    <img id="rightArrowButton" class="galleryIcon" src="~/icons/keyboard_arrow_right.svg" />
                </div>

                <figure class="position-relative" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a href=@ViewBag.Car.Images[0] data-width="1200" data-height="900" itemprop="contentUrl" id="imageMain" data-index=0>

                        <img src=@ViewBag.Car.Images[0] style="object-fit: cover; margin-bottom: 20px; width: 100%" itemprop="thumbnail">
                    </a>
                </figure>

            </div>


            <div class="slider variable-width slick-initialized slick-slider slick-dotted" id="carsSlider" role="toolbar" bis_skin_checked="1">
                <div aria-live="polite" class="slick-list draggable" bis_skin_checked="1">
                    <div class="slick-track slider-container" style="opacity: 1;" role="listbox" bis_skin_checked="1">
                        @for (int i = 0; i < ViewBag.Car.Images.Count; i++)
                        {
                            <div class="slick-slide" data-slick-index="@i" aria-hidden="true">
                                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" role="option" bis_skin_checked="1">

                                    <a href=@ViewBag.Car.Images[i] class="carPhotoThumbnail" id=@("car-figure-" + i) data-width="1200" data-height="900" itemprop="contentUrl" data-index=@i>
                                        <div class="me-2">
                                            <img src=@ViewBag.Car.Images[i] style="object-fit: cover;" itemprop="thumbnail">
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        }
                    </div>
                </div>
            </div>
            @*
            <div class="row justify-content-center">
            <div class="d-flex flex-row align-items-center">
            @for (int i = 0; i < ViewBag.Car.Images.Count; i++)
            {
            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href=@ViewBag.Car.Images[i] class="carPhotoThumbnail" data-width="1200" data-height="900" itemprop="contentUrl" index=@i>
            <img src=@ViewBag.Car.Images[i] style="height: 200px; object-fit: cover; margin-right: 10px;" itemprop="thumbnail">
            </a>
            </figure>
            }
            </div>
            </div> *@


        </div>


        @*Swipe gallery scructure*@
        <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
            <!-- Background of PhotoSwipe.
                 It's a separate element as animating opacity is faster than rgba(). -->
            <div class="pswp__bg"></div>
            <!-- Slides wrapper with overflow:hidden. -->
            <div class="pswp__scroll-wrap">
                <!-- Container that holds slides.
                    PhotoSwipe keeps only 3 of them in the DOM to save memory.
                    Don't modify these 3 pswp__item elements, data is added later on. -->
                <div class="pswp__container">
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>

                </div>
                <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                <div class="pswp__ui pswp__ui--hidden">
                    <div class="pswp__top-bar">
                        <!--  Controls are self-explanatory. Order can be changed. -->
                        <div class="pswp__counter"></div>
                        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                        <button class="pswp__button pswp__button--share" title="Share"></button>
                        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                        <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                        <!-- element will get class pswp__preloader--active when preloader is running -->
                        <div class="pswp__preloader">
                            <div class="pswp__preloader__icn">
                                <div class="pswp__preloader__cut">
                                    <div class="pswp__preloader__donut"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                        <div class="pswp__share-tooltip"></div>
                    </div>
                    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                    </button>
                    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                    </button>
                    <div class="pswp__caption">
                        <div class="pswp__caption__center"></div>
                    </div>
                </div>
            </div>
        </div>

        @*Details*@
        <div class="ms-xl-0 ms-2 mb-5 mb-sm-3">
            <hr style="border-top: 1px solid #000;"> @*divider*@

            <div class="row"> <h2 class="fh-header">Details</h2></div>

            <div class="fh-regular">
                <div class="row mb-md-3">
                    <div class="col-md-6">
                        <div class="row my-md-0 my-1">
                            <div class="col-6 text-subhead">Year</div>
                            <div class="col-6">@ViewBag.Car.Year</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row my-md-0 my-1">
                            <div class="col-6 text-subhead">Make</div>
                            <div class="col-6">@ViewBag.Car.Make</div>
                        </div>
                    </div>
                </div>

                <div class="row mb-md-3">
                    <div class="col-md-6">
                        <div class="row my-md-0 my-1">
                            <div class="col-6 text-subhead">Mileage</div>
                            <div class="col-6">@ViewBag.Car.Mileage</div>
                        </div>
                    </div>

                    <div class="col-md-6 my-md-0 my-1">
                        <div class="row">
                            <div class="col-6 text-subhead">Model</div>
                            <div class="col-6">@ViewBag.Car.Model</div>
                        </div>
                    </div>
                </div>

                <div class="row mb-md-3">
                    <div class="col-md-6">
                        <div class="row my-md-0 my-1">
                            <div class="col-6 text-subhead">Color</div>
                            <div class="col-6">@ViewBag.Car.Color</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row my-md-0 my-1">
                            <div class="col-6 text-subhead">VIN</div>
                            <div class="col-6">@ViewBag.Car.VIN</div>
                        </div>
                    </div>
                </div>

                <div class="row mb-md-3">
                    <div class="col-md-6">
                        <div class="row my-md-0 my-1">
                            <div class="col-6 text-subhead">Type</div>
                            <div class="col-6">@ViewBag.Car.Type</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row my-md-0 my-1">
                            <div class="col-6 text-subhead">Fuel Type</div>
                            <div class="col-6">@ViewBag.Car.FuelType</div>
                        </div>
                    </div>
                </div>

                <div class="row mb-md-3">
                    <div class="col-md-6">
                        <div class="row my-md-0 my-1">
                            <div class="col-6 text-subhead">Transmission</div>
                            <div class="col-6">@ViewBag.Car.Transmission</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row my-md-0 my-1">
                            <div class="col-6 text-subhead">@(ViewBag.Car.EngineVolume != null ? "Engine volume" : "")</div>
                            <div class="col-6">@(ViewBag.Car.EngineVolume != null ? ViewBag.Car.EngineVolume.ToString() : "")</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        
    </div>


    <div class="col-md-4 ps-3">
        <div class="d-none d-md-block sticky-top pt-2">
            <div class="border px-3 py-3">
                <div class="pb-2">
                    <div class="fh-header-bold">@(ViewBag.Car.Make + " " + ViewBag.Car.Model)</div>
                    <div class="fh-regular row mx-0">
                        <div class="col-auto ps-0 pe-2">@ViewBag.Car.Year</div>
                        <div class="col-auto ps-0 pe-2">@ViewBag.Car.Mileage</div>
                        <div class="col-auto ps-0 pe-2">@(ViewBag.Car.EngineVolume != null ? ViewBag.Car.EngineVolume.ToString() : @ViewBag.Car.FuelType.ToString())</div>
                        <div class="col-auto ps-0 pe-2">@(ViewBag.Car.EngineVolume != null ? ViewBag.Car.FuelType.ToString() : "")</div>
                    </div>
                </div>

                <div class="center-items bg-primary br-2">
                    <div class="row mx-0 py-1 text-antique">
                        <div class="col-auto ps-0 pe-2 fh-header-bold">@ViewBag.Car.Price.ToString()</div>
                        <div class="col-auto px-0 fh-header">PLN</div>
                    </div>
                </div>

                <div class="py-3"></div>

                <div class="bg-light align-items-center flex-column d-flex">
                    <p class="fs-4 fw-light mb-0 mt-2 border-bottom border-primary">Contact with seller</p>
                    <a class="btn fh-button-text btn-secondary rounded-pill px-4 py-2 my-2 d-inline-flex align-items-center">
                        <img class="carIcon" src="~/icons/phone.svg" /> <span class="ms-1">+48 567 849 201</span>
                    </a>

                    <form asp-controller="Home" asp-action="SendDetailPageForm" method="post" id="detailPageForm" class="w-100">
                        <input type="hidden" asp-for="@Model.CarId" value="@ViewBag.Car.Id" />
                        <div class="form-group px-2 py-1">
                            <input class="form-control border-bottom-only text-primary w-100" asp-for="@Model.Name" placeholder="Name" />
                        </div>

                        <div class="form-group px-2 py-1">
                            <input class="form-control border-bottom-only text-primary" asp-for="@Model.Email" placeholder="Email" />
                            <span asp-validation-for="@Model.Email" class="text-danger"></span>
                        </div>

                        <div class="form-group px-2 py-1">
                            <input class="form-control border-bottom-only text-primary" asp-for="@Model.PhoneNumber" placeholder="Phone Number" />
                            <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                        </div>

                        <div class="form-group px-2 pt-1 pb-3">
                            <textarea class="form-control border-bottom-only text-primary" asp-for="@Model.Message" placeholder="Message" rows="5"></textarea>
                        </div>

                        <div class="align-items-center flex-column d-flex pb-3">
                            <button type="submit" class="btn btn-primary rounded-pill py-2 px-4">
                                <svg class="carIcon me-1" width="96" height="96" viewBox="0 0 96 96" fill="white" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_292_959)">
                                        <path d="M80 16H16C11.6 16 8.04 19.6 8.04 24L8 72C8 76.4 11.6 80 16 80H80C84.4 80 88 76.4 88 72V24C88 19.6 84.4 16 80 16ZM80 32L48 52L16 32V24L48 44L80 24V32Z" fill="#ffffff" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_292_959">
                                            <rect width="96" height="96" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>

                                <span>Send message</span>
                            </button>
                        </div>

                    </form>
                </div>
            </div>
            
        </div>

        <div class="row fixed-bottom d-md-none w-100">
            <div class="col-6 px-0">
                <div class="align-items-center h-100">
                    <button type="submit" class="btn btn-secondary w-100 h-100 py-3"><i class="fas fa-phone fa-rotate-90 px-1"></i>  Call</button>
                </div>
            </div>
            <div class="col-6 px-0">
                <div class="align-items-center h-100">
                    <button type="submit" class="btn btn-secondary w-100 h-100"><i class="fas fa-envelope px-1"></i>  Send message</button>
                </div>
            </div>
        </div>
    </div>
</div>






@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.0/photoswipe.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.0/photoswipe-ui-default.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>


    <script>
        'use strict';

        /* global jQuery, PhotoSwipe, PhotoSwipeUI_Default, console */

        (function ($) {

            // Init empty gallery array
            var container = [];

            // Loop over gallery items and push it to the array
            $('#gallery').find('figure:has(a.carPhotoThumbnail)').each(function () {
                var $link = $(this).find('a'),
                    item = {
                        src: $link.attr('href'),
                        w: $link.data('width'),
                        h: $link.data('height'),
                        title: $link.data('caption')
                    };
                container.push(item);
            });



            // Define click event on gallery item
            $("#imageMain").click(function (event) {
                // Prevent location change
                event.preventDefault();

                var allImages = Array.from(document.getElementsByClassName('carPhotoThumbnail'));
                allImages = allImages.filter(function (element) {
                    return !element.parentElement.parentElement.classList.contains('slick-cloned');
                });


                console.log(allImages);

                var index = $(this).attr('data-index');
                // Define object and gallery options
                var $pswp = $('.pswp')[0],
                    options = {
                        index: index,
                        bgOpacity: 0.85,
                        showHideOpacity: true
                    };

                // Initialize PhotoSwipe
                var gallery = new PhotoSwipe($pswp, PhotoSwipeUI_Default, container, options);
                gallery.init();
            });

            $(".carPhotoThumbnail").click(function (event) {
                event.preventDefault();

                var index = $(this).attr('data-index');

                var newImageSrc = $(this).attr('href');


                $('.carPhotoThumbnail div').removeClass('carPhotoThumbnailSelected');
                $(this).find('div').addClass('carPhotoThumbnailSelected');

                // Update the main image
                $('#imageMain img').attr('src', newImageSrc);
                $('#imageMain').attr('href', newImageSrc);
                $('#imageMain').attr('data-index', index);




            });


        }(jQuery));
    </script>
    <script>
        $(document).ready(function () {

            var sliderPosition = 1;

            $("#toggleButton").click(function () {
                $("#phoneNumber").toggle();
                $("#showNumber").toggle();
            });

            $('#leftArrowButton').click(function () {
                $(this).blur();
                var index = parseInt($('#imageMain').attr('data-index'));
                var allImages = Array.from(document.getElementsByClassName('carPhotoThumbnail'));
                allImages = allImages.filter(function (element) {
                    return !element.parentElement.parentElement.classList.contains('slick-cloned');
                });
                var count = allImages.length;
                var newIndex = (index - 1 + count) % count;
                console.log(newIndex);

                var newImageSrc = allImages[newIndex]['href'];

                console.log(newImageSrc);
                $('#imageMain img').attr('src', newImageSrc);
                $('#imageMain').attr('href', newImageSrc);
                $('#imageMain').attr('data-index', newIndex);
                $('.carPhotoThumbnail div').removeClass('carPhotoThumbnailSelected');
                //$('.carPhotoThumbnail').eq(newIndex).find('div').addClass('carPhotoThumbnailSelected');
                $(allImages[newIndex]).find('div').addClass('carPhotoThumbnailSelected');

                if ((sliderPosition - 1) % 2 == 0) {
                    $('.slider-container').slick('slickPrev');
                }
                sliderPosition = sliderPosition - 1;

            });

            $('#rightArrowButton').click(function () {
                $(this).blur();
                var index = parseInt($('#imageMain').attr('data-index'));

                var allImages = Array.from(document.getElementsByClassName('carPhotoThumbnail'));
                allImages = allImages.filter(function (element) {
                    return !element.parentElement.parentElement.classList.contains('slick-cloned');
                });
                var count = allImages.length;
                console.log(count);
                console.log('index');
                console.log(index);
                var newIndex = (index + 1) % count;
                console.log(newIndex);
                var newImageSrc = allImages[newIndex]['href'];

                console.log(newImageSrc);
                $('#imageMain img').attr('src', newImageSrc);
                $('#imageMain').attr('href', newImageSrc);
                $('#imageMain').attr('data-index', newIndex);
                $('.carPhotoThumbnail div').removeClass('carPhotoThumbnailSelected');
                //$('.carPhotoThumbnail').eq(newIndex).find('div').addClass('carPhotoThumbnailSelected');
                $(allImages[newIndex]).find('div').addClass('carPhotoThumbnailSelected');
                if ((sliderPosition + 1) % 2 == 1) {
                    $('.slider-container').slick('slickNext');
                }
                sliderPosition = sliderPosition + 1;
            });

        });
    </script>
    <script>
        $(document).ready(function () {
            $("#detailPageForm").on("submit", function (event) {
                event.preventDefault();

                var form = this;

                $.ajax({
                    url: $(this).attr("action"),
                    type: $(this).attr("method"),
                    data: $(this).serialize(),
                    success: function (response) {
                        if (response.success) {
                            $("#successMessage").slideDown().delay(3000).slideUp(); // Show the success message for 3 seconds
                            form.reset(); // Reset the form
                        } else {
                            alert(response.errors);
                            // Display validation errors
                            console.log(response.errors);
                        }
                    }
                });

            });


        });
    </script>
    <script>
        $(document).ready(function () {
            $('.slider-container').slick({
                slidesToShow: 3,
                slidesToScroll: 2,
                infinite: true,
                arrows: false, // This removes the navigation buttons
                draggable: true,
            });
        });

    </script>


}




