@using EuroCarsUSA.Controllers
@using EuroCarsUSA.Data.Enums
@using EuroCarsUSA.ViewModels
@using EuroCarsUSA.Views.Shared.Components
@using Microsoft.Extensions.Localization
@using EuroCarsUSA.Extensions
@using EuroCarsUSA.Resources

@model DetailViewModel
@inject IStringLocalizer<HomeController> Translator
@inject Localizer localizer

<div id="successMessage" class="alert alert-secondary text-primary border-primary rounded-xxl py-2 px-3 start-50 translate-middle fs-4" style="display: none; position: fixed; top: 0; text-align: center; z-index: 10000; margin-top: 5%">
    @localizer.MessageSent
</div>

<div id="communication-mobile-popUP" class="col-12 d-md-none justify-content-center align-items-center d-none" style="position: fixed; top: 0; left: 0; z-index: 10000; background: rgba(0, 0, 0, 0.5); width: 100%; height: 100%;">
    <div class="col-8 bg-light align-items-center flex-column d-flex br-2 px-2">
        <p class="fs-4 fw-light mb-0 mt-3 border-bottom border-primary">@localizer.ContactSeller</p>
        <a href="tel:+48534422089" class="btn fh-button-text btn-secondary rounded-pill px-4 py-2 my-2 d-inline-flex align-items-center">
            <img class="carIcon" src="~/icons/phone.svg" /> <span class="ms-1">+48 534 422 089</span>
        </a>

        <form asp-controller="Home" asp-action="SendDetailPageForm" method="post" id="detailPageFormPopUp" class="w-100">
            <input type="hidden" asp-for="DetailPageForm.CarId" value="@Model.Car.Id" />
            <div class="form-group px-2 py-1">
                <input class="form-control border-bottom-only text-primary w-100" asp-for="DetailPageForm.Name" placeholder="@localizer.Name" />
            </div>

            <div class="form-group px-2 py-1">
                <input class="form-control border-bottom-only text-primary" asp-for="DetailPageForm.Email" placeholder="Email" />
                <span asp-validation-for="DetailPageForm.Email" class="text-danger"></span>
            </div>

            <div class="form-group px-2 py-1">
                <input class="form-control border-bottom-only text-primary" asp-for="DetailPageForm.PhoneNumber" placeholder="@localizer.PhoneNumber" />
                <span asp-validation-for="DetailPageForm.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group px-2 pt-1 pb-3">
                <textarea class="form-control border-bottom-only text-primary" asp-for="DetailPageForm.Message" placeholder="@localizer.Message" rows="5"></textarea>
            </div>

            <div class="align-items-center flex-column d-flex pb-3">
                <button type="submit" class="btn btn-primary rounded-pill py-2 px-4">
                    <svg class="carIcon me-1" width="96" height="96" viewBox="0 0 96 96" fill="white" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_292_959)">
                            <path d="M80 16H16C11.6 16 8.04 19.6 8.04 24L8 72C8 76.4 11.6 80 16 80H80C84.4 80 88 76.4 88 72V24C88 19.6 84.4 16 80 16ZM80 32L48 52L16 32V24L48 44L80 24V32Z" fill="#ffffff" />
                        </g>
                        <defs>
                            <clipPath id="clip0_292_959">
                                <rect width="96" height="96" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>

                    <span>@localizer.SendMessage</span>
                </button>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <div class="row justify-content-md-center pt-3">

        <div class="col-md-7 col-lg-8 px-3">
            @*path*@
            <div class="ms-xl-0 ms-2 d-flex align-items-center">
                <a href="javascript:history.back()">
                    @await Html.PartialAsync("_Button", new _Button
                    {
                        Text = localizer.Back,
                        Color = "primary",
                        Classes = "me-2",
                        Attributes = "",
                        LeftIcon = await Html.PartialAsync("_Icon", new { IconName = Url.Content("Arrow back"), Color = "white" }),
                        RightIcon = null,
                        TextColor = ""
                    })
                </a>
                <div class="d-flex overflow-auto py-2">
                    <a asp-controller="Home" asp-action="Catalog" asp-route-make="@Model.Car.Make">
                        @await Html.PartialAsync("_Button", new _Button
                        {
                            Text = $"{@Model.Car.Make}",
                            Color = "secondary",
                            Classes = "me-2",
                            Attributes = "type=\"button\"",
                            LeftIcon = null,
                            RightIcon = null,
                            TextColor = ""
                        })
                    </a>
                    <a asp-controller="Home" asp-action="Catalog" asp-route-make="@Model.Car.Make" asp-route-model="@Model.Car.Model">
                        @await Html.PartialAsync("_Button", new _Button
                        {
                            Text = $"{@Model.Car.Model}",
                       Color = "secondary",
                            Classes = "me-2",
                            Attributes = "type=\"button\"",
                            LeftIcon = null,
                            RightIcon = null,
                            TextColor = ""
                        })
                    </a>
                </div>
            </div>

            @*Images*@
            <div class="selected-image position-relative">
                <button class="arrow-button left-arrow" id="prevImageButton" aria-label="Previous Image">&lt;</button>

                <a href="@Model.Car.Images[0]" data-pswp-width="1200" data-pswp-height="900" id="mainImageLink" class="gallery-link">
                    <div class="image-wrapper">
                        <img src="@Model.Car.Images[0]" alt="Selected Image" id="mainImage" />
                    </div>
                </a>

                <button class="arrow-button right-arrow" id="nextImageButton" aria-label="Next Image">&gt;</button>
            </div>

            <div class="thumbnail-gallery mt-2" id="thumbnailGallery">
                @for (int i = 0; i < Model.Car.Images.Count; i++)
                {
                    <a href="@Model.Car.Images[i]"
                       class="thumbnail-link @((i == 0) ? "selected" : "")"
                       data-index="@i">
                        <img src="@Model.Car.Images[i]" alt="Thumbnail @i" class="thumbnail-image" />
                    </a>
                }
            </div>

            <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="pswp__bg"></div>
                <div class="pswp__scroll-wrap">
                    <div class="pswp__container">
                        <div class="pswp__item"></div>
                        <div class="pswp__item"></div>
                        <div class="pswp__item"></div>
                    </div>
                    <div class="pswp__ui pswp__ui--hidden">
                        <div class="pswp__top-bar">
                            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                            <button class="pswp__button pswp__button--share" title="Share"></button>
                            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                            <div class="pswp__counter"></div>
                        </div>
                        <div class="pswp__caption">
                            <div class="pswp__caption__center"></div>
                        </div>
                    </div>
                </div>
            </div>

            @*Price*@
            <div class="d-md-none px-2">
                <div class="pb-2">
                    <div class="fh-header-bold">@(Model.Car.Make + " " + Model.Car.Model)</div>
                    <div class="fh-regular row mx-0">
                        <div class="col-auto ps-0 pe-2">@Model.Car.Year</div>
                        <div class="col-auto ps-0 pe-2">@($"{Model.Car.Mileage} km")</div>
                        <div class="col-auto ps-0 pe-2">@(Model.Car.EngineVolume != null ? $"{Model.Car.EngineVolume} cm3" : "")</div>
                        <div class="col-auto ps-0 pe-2">@(Model.Car.EngineVolume != null ? localizer.ToLocalizedString(Model.Car.FuelType) : "")</div>
                    </div>
                </div>


                <div class="center-items bg-primary br-2">
                    <div class="row mx-0 py-1 text-antique">
                        <div class="col-auto ps-0 pe-2 fh-header-bold">@Model.Car.Price.ToString()</div>
                        <div class="col-auto px-0 fh-header">PLN</div>
                    </div>
                </div>
            </div>

            @*Details*@
            <div class="ms-xl-0 ms-2 mb-5 mb-sm-4">
                <hr style="border-top: 1px solid #000;"> @*divider*@

                <div class="row"> <h2 class="fh-header">@localizer.Details</h2></div>

                <div class="fh-regular">
                    <div class="row mb-md-3">
                        <div class="col-md-6">
                            <div class="row my-md-0 my-1">
                                <div class="col-6 text-subhead">@localizer.Year</div>
                                <div class="col-6">@Model.Car.Year</div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row my-md-0 my-1">
                                <div class="col-6 text-subhead">@localizer.Make</div>
                                <div class="col-6">@localizer.ToLocalizedString(Model.Car.Make)</div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-md-3">
                        <div class="col-md-6">
                            <div class="row my-md-0 my-1">
                                <div class="col-6 text-subhead">@localizer.Mileage</div>
                                <div class="col-6">@($"{Model.Car.Mileage} km")</div>
                            </div>
                        </div>

                        <div class="col-md-6 my-md-0 my-1">
                            <div class="row">
                                <div class="col-6 text-subhead">@localizer.Model</div>
                                <div class="col-6">@Model.Car.Model</div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-md-3">
                        <div class="col-md-6">
                            <div class="row my-md-0 my-1">
                                <div class="col-6 text-subhead">@localizer.Color</div>
                                <div class="col-6">@localizer.ToLocalizedString(Model.Car.Color)</div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row my-md-0 my-1">
                                <div class="col-6 text-subhead">VIN</div>
                                <div class="col-6">@Model.Car.VIN</div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-md-3">
                        <div class="col-md-6">
                            <div class="row my-md-0 my-1">
                                <div class="col-6 text-subhead">@localizer.CarType</div>
                                <div class="col-6">@localizer.ToLocalizedString(Model.Car.Type)</div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row my-md-0 my-1">
                                <div class="col-6 text-subhead">@localizer.FuelType</div>
                                <div class="col-6">@localizer.ToLocalizedString(Model.Car.FuelType)</div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-md-3">
                        <div class="col-md-6">
                            <div class="row my-md-0 my-1">
                                <div class="col-6 text-subhead">@localizer.Transmission</div>
                                <div class="col-6">@localizer.ToLocalizedString(Model.Car.Transmission)</div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row my-md-0 my-1">
                                <div class="col-6 text-subhead">@(Model.Car.EngineVolume != null ? localizer.EngineVolume : "")</div>
                                <div class="col-6">@(Model.Car.EngineVolume != null ? $"{Model.Car.EngineVolume} cm3" : "")</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            @*Recomendations*@
            <div class="col p-0">
                <hr style="border-top: 1px solid #000;"> @*divider*@
                <div class="row mx-0 mb-2 d-flex align-items-stretch">
                    <div class="col px-0 text-headline-sm">@localizer.ShowMore</div>
                </div>

                <div class="row gx-2 flex-nowrap overflow-auto p-2" style="margin-left: -8px; margin-right: -8px;">
                    @foreach (CarCardViewModel car in Model.RecomendedCar)
                    {
                        car.Classes = "col-6 col-lg-4 col-xl-3";
                        car.IsFullSize = false;
                        @await Html.PartialAsync("_CarCard", car)
                    }
                </div>
            </div>
        </div>


        <div class="col-md-5 col-lg-4 px-3">
            <div class="d-none d-md-block sticky-top pt-5">
                    <div class="border px-3 py-3">
                        <div class="pb-2">
                            <div class="fh-header-bold">@(Model.Car.Make + " " + Model.Car.Model)</div>
                            <div class="fh-regular row mx-0">
                                <div class="col-auto ps-0 pe-2">@Model.Car.Year</div>
                                <div class="col-auto ps-0 pe-2">@($"{Model.Car.Mileage} km")</div>
                                <div class="col-auto ps-0 pe-2">@(Model.Car.EngineVolume != null ? $"{Model.Car.EngineVolume} cm3" : "")</div>
                            <div class="col-auto ps-0 pe-2">@(Model.Car.EngineVolume != null ? localizer.ToLocalizedString(Model.Car.FuelType) : "")</div>
                            </div>
                        </div>

                        <div class="center-items bg-primary br-2">
                            <div class="row mx-0 py-1 text-antique">
                                <div class="col-auto ps-0 pe-2 fh-header-bold">@Model.Car.Price.ToString()</div>
                                <div class="col-auto px-0 fh-header">PLN</div>
                            </div>
                        </div>

                        <div class="py-3"></div>

                        <div class="bg-light align-items-center flex-column d-flex">
                            <p class="fs-4 fw-light mb-2 mt-2 border-bottom border-primary">@localizer.ContactSeller</p>
                            <a href="tel:+48534422089">
                                @Html.Partial("_Button", new _Button
                                    {
                                        Text = "+4853422089",
                                        Color = "primary",
                                        Classes = "",
                                        Attributes = "",
                                        LeftIcon = @Html.Partial("_Icon", new { IconName = Url.Content("Phone"), Color = "white" }),
                                        RightIcon = (object)null,
                                        TextColor = "",
                                    })
                            </a>


                            <form asp-controller="Home" asp-action="SendDetailPageForm" method="post" id="detailPageForm" class="w-100">
                                <input type="hidden" asp-for="DetailPageForm.CarId" value="@Model.Car.Id" />
                                <div class="form-group px-2 py-2">
                                    <input class="form-control border-bottom-only text-primary w-100" asp-for="DetailPageForm.Name" placeholder="@Translator["Name"]" />
                                </div>

                                <div class="form-group px-2 pb-2">
                                    <input class="form-control border-bottom-only text-primary" asp-for="DetailPageForm.Email" placeholder="@Translator["Email"]" />
                                    <span asp-validation-for="DetailPageForm.Email" class="text-danger"></span>
                                </div>

                                <div class="form-group px-2 pb-2">
                                    <input class="form-control border-bottom-only text-primary" asp-for="DetailPageForm.PhoneNumber" placeholder="@Translator["PhoneNumber"]" />
                                    <span asp-validation-for="DetailPageForm.PhoneNumber" class="text-danger"></span>
                                </div>

                                <div class="form-group px-2 pb-2">
                                    <textarea class="form-control border-bottom-only text-primary" asp-for="DetailPageForm.Message" placeholder="@Translator["Message"]" rows="5"></textarea>
                                </div>

                                <div class="align-items-center flex-column d-flex pb-3">
                                    @Html.Partial("_Button", new _Button
                                        {
                                            Text = @Translator["SendMessage"],
                                            Color = "primary",
                                            Classes = "",
                                            Attributes = "type=\"submit\"",
                                            LeftIcon = @Html.Partial("_Icon", new { IconName = Url.Content("Mail"), Color = "white" }),
                                            RightIcon = (object)null,
                                            TextColor = "",
                                        })
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            
            

            <div class="row fixed-bottom d-md-none w-100">
                <div class="col-6 px-0">
                    <div class="align-items-center h-100">
                        <a href="tel:+48534422089" class="btn btn-secondary w-100 h-100 py-3"><i class="fas fa-phone fa-rotate-90 px-1"></i>@localizer.Call </a>
                    </div>
                </div>
                <div id="to_rename_parent" class="col-6 px-0">
                    <div class="align-items-center h-100">
                        <button id="showPopupButton" type="to_rename" class="btn btn-secondary w-100 h-100"><i class="fas fa-envelope px-1"></i>  @localizer.SendMessage </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>




@section Scripts {
    <link rel="stylesheet" href="https://unpkg.com/photoswipe/dist/photoswipe.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

    <script>
        $(document).ready(function () {

            var sliderPosition = 1;

            $("#toggleButton").click(function () {
                $("#phoneNumber").toggle();
                $("#showNumber").toggle();
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#detailPageForm").on("submit", function (event) {
                event.preventDefault();

                var form = this;

                $.ajax({
                    url: $(this).attr("action"),
                    type: $(this).attr("method"),
                    data: $(this).serialize(),
                    success: function (response) {
                        if (response.success) {
                            $("#successMessage").slideDown().delay(3000).slideUp(); // Show the success message for 3 seconds
                            form.reset(); // Reset the form
                        } else {
                            alert(response.errors);
                            // Display validation errors
                            console.log(response.errors);
                        }
                    }
                });

            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#detailPageFormPopUp").on("submit", function (event) {
                event.preventDefault();

                var form = this;

                $.ajax({
                    url: $(this).attr("action"),
                    type: $(this).attr("method"),
                    data: $(this).serialize(),
                    success: function (response) {
                        if (response.success) {
                            closePopup();
                            $("#successMessage").slideDown().delay(3000).slideUp(); // Show the success message for 3 seconds
                            form.reset(); // Reset the form
                        } else {
                            alert(response.errors);
                            // Display validation errors
                            console.log(response.errors);
                        }
                    }
                });

            });


        });

        document.getElementById('showPopupButton').addEventListener('click', function () {
            var popup = document.getElementById('communication-mobile-popUP');
            popup.classList.remove('d-none');
            popup.classList.add('d-flex');
        });

        function closePopup() {
            var popup = document.getElementById('communication-mobile-popUP');
            popup.classList.remove('d-flex');
            popup.classList.add('d-none');
        }

        document.getElementById('communication-mobile-popUP').addEventListener('click', function (event) {
            if (event.target === this) {
                closePopup();
            }
        });

    </script>



    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const images = @Html.Raw(Json.Serialize(Model.Car.Images));
            let currentIndex = 0;

            const mainImage = document.getElementById('mainImage');
            const mainImageLink = document.getElementById('mainImageLink');
            const prevButton = document.getElementById('prevImageButton');
            const nextButton = document.getElementById('nextImageButton');
            const thumbnailGallery = document.getElementById('thumbnailGallery');

            function updateImage(index) {
                currentIndex = index;
                const newImage = images[currentIndex];
                mainImage.src = newImage;
                mainImageLink.href = newImage;

                updateSelectedThumbnail();
            }

            function updateSelectedThumbnail() {
                const thumbnails = document.querySelectorAll('.thumbnail-link');
                thumbnails.forEach(thumb => thumb.classList.remove('selected'));

                const selectedThumbnail = document.querySelector(`.thumbnail-link[data-index="${currentIndex}"]`);
                if (selectedThumbnail) {
                    selectedThumbnail.classList.add('selected');
                    selectedThumbnail.scrollIntoView({ behavior: 'smooth', inline: 'center', block: 'nearest' });
                }
            }


            prevButton.addEventListener('click', () => {
                const newIndex = (currentIndex - 1 + images.length) % images.length;
                updateImage(newIndex);
            });

            nextButton.addEventListener('click', () => {
                const newIndex = (currentIndex + 1) % images.length;
                updateImage(newIndex);
            });

            thumbnailGallery.addEventListener('click', (e) => {
                const target = e.target.closest('.thumbnail-link');
                if (target) {
                    e.preventDefault();
                    const newIndex = parseInt(target.getAttribute('data-index'), 10);
                    updateImage(newIndex);
                }
            });

            updateImage(currentIndex);
        });
    </script>


    <script type="module">
        import PhotoSwipe from 'https://unpkg.com/photoswipe/dist/photoswipe.esm.js';
        import PhotoSwipeLightbox from 'https://unpkg.com/photoswipe/dist/photoswipe-lightbox.esm.js';

        document.addEventListener('DOMContentLoaded', () => {
            const images = @Html.Raw(Json.Serialize(Model.Car.Images));
            const mainImage = document.getElementById('mainImage');
            const mainImageLink = document.getElementById('mainImageLink');

            const galleryItems = images.map(image => ({
                src: image,
                w: 1200,
                h: 900
            }));

            const pswpOptions = {
                dataSource: galleryItems,
                initialSlide: 0,
            };

            mainImageLink.addEventListener('click', (e) => {
                e.preventDefault();

                const currentIndex = images.indexOf(mainImage.src);
                pswpOptions.initialSlide = currentIndex;

                const pswp = new PhotoSwipe(pswpOptions);
                pswp.init();
            });
        });
    </script>



}




