@model IEnumerable<Car>

@{
}


    
        @foreach (Car car in Model)
        {
            <div class="row newCar" data-show-more-button="false">
                <div class="card mb-4 pt-2 box-shadow">
                    <div class="row">
                        <div class="col-md-3">
                            <!-- Adjust the column size as needed -->
                            <a asp-controller="Home" , asp-action="Detail" , asp-route-id=@car.Id> <img class="card-img-top rounded float-left w-100" src=@car.Images[0] alt=@(car.Color + car.Make + car.Model)> </a>
                        </div>
                        <div class="col-md-9">
                            <!-- Adjust the column size as needed -->
                            <div class="row">
                                <a asp-controller="Home" , asp-action="Detail" , asp-route-id=@car.Id class="text-black text-decoration-none"> <h2>@(car.Make + " " + car.Model)</h2> </a>
                            </div>
                            <div class="row">
                                <div class="mx-2 col">
                                    <div class="row">
                                        <b>Mileage</b>
                                    </div>
                                    <div class="row">
                                        <p>@car.Mileage</p>
                                    </div>
                                </div>
                                <div class="mx-2 col">
                                    <div class="row">
                                        <b>Year</b>
                                    </div>
                                    <div class="row">
                                        <p>@car.Year</p>
                                    </div>
                                </div>
                                <div class="mx-2 col">
                                    <div class="row">
                                        <b>Fuel type</b>
                                    </div>
                                    <div class="row">
                                        <p>@car.FuelType</p>
                                    </div>
                                </div>
                                <div class="mx-2 col">
                                    <div class="row">
                                        <b>Price</b>
                                    </div>
                                    <div class="row">
                                        <p>@car.Price</p>
                                    </div>
                                </div>
                                <div class="mx-2 col">
                                    <div class="row">
                                        <b>Transmission</b>
                                    </div>
                                    <div class="row">
                                        <p>@car.Transmission.ToString()</p>
                                    </div>
                                </div>
                                <div class="mx-2 col">
                                    <div class="row">
                                        <b>Engine Volume</b>
                                    </div>
                                    <div class="row">
                                        <p>@car.EngineVolume</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-end align-items-end">
                            <button type="button" class="btn btn-primary rounded-pill">
                                <i class="fas fa-heart px-3 py-1"></i>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        }
