@model IEnumerable<Car>


<div data-show-more-button="@ViewBag.ShowMoreButton" data-cars-in-view="@Model.Count()">
    @for (int i = 0; i < Math.Ceiling(Model.Count() / 3.0); i++)
        {
            <div class="row" >
                @foreach(Car car in Model.Skip(i * 3).Take(3)){
                    <div class="col-md-4 newCar"> 
                        <div class="card mb-4 pt-2 box-shadow rounded-xxl">
                            <div class="img-container overflow-hidden mx-3 mt-1">
                                <a asp-controller="Home" , asp-action="Detail" , asp-route-id=@car.Id>
                                    <img class="card-img float-left rounded-xxl" src=@car.Images[0] alt=@(car.Color + car.Make + car.Model)>
                                </a>
                            </div>
                                
                            <div class="card-body">
                                
                                <div class="row justify-content-between">
                                    <!-- Car name -->
                                    <div class="col">
                                        <a asp-controller="Home" , asp-action="Detail" , asp-route-id=@car.Id class="text-black text-decoration-none"> <b>@(car.Make + " " + car.Model)</b> </a>
                                    </div>
                                    <!-- Price -->
                                    <div class="col text-end">
                                        <a asp-controller="Home" , asp-action="Detail" , asp-route-id=@car.Id class="text-black text-decoration-none"> <p>@(car.Price)</p> </a>
                                    </div>
                                </div>

                                <!-- divider -->
                                <hr style="border-top: 1px solid #000;">


                                <div class="row justify-content-between">
                                    <div class="col">
                                        <div class="row">
                                            <b>Mileage</b>
                                        </div>
                                        <div class="row">
                                            <p>@car.Mileage</p>
                                        </div>
                                        
                                        <div class="row">
                                            <b>Fuel type</b>
                                        </div>
                                        <div class="row">
                                            <p>@car.FuelType.ToString()</p>
                                        </div>

                                    </div>
                                    <div class="col text-end">
                                        <div class="row">
                                            <b>Gearbox</b>
                                        </div>
                                        <div class="row">
                                            <p>@car.Transmission.ToString()</p>
                                        </div>

                                        <div class="row">
                                            <b>Year</b>
                                        </div>
                                        <div class="row">
                                            <p>@car.Year</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div class="row d-flex justify-content-end align-items-end mb-3">
                                <a class="btn btn-secondary rounded-pill me-2 w-25" asp-controller="Home" , asp-action="Detail" , asp-route-id=@car.Id>
                                    Details
                                </a>

                                <button type="button" class="btn btn-primary rounded-pill me-4 w-25">
                                    <i class="fas fa-heart px-3 py-1"></i>
                                </button>
                            </div>

                            
                        </div>
                    </div>
                }
        </div>
    }
</div>