@using EuroCarsUSA.Data.Enum

@model IEnumerable<Car>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="py-4 px-4 align-items-center justify-content-center d-flex flex-column filters-desktop">
        <div class="form-group bg-secondary mt-2" id="filters">
            <div class="justify-content-center align-items-center  pb-2"  id="basicFiltersFormWrapper">
            <form method="get" id="basicFiltersForm">

                    <div id="basicFilters" class="p-3">
                        <div class="row justify-content-center">
                            <div class="col-md-4 py-2">
                                <input type="text" id="make" name="make" class="form-control" placeholder="Make" value="@Context.Request.Query["make"]" />
                            </div>
                            <div class="col-md-4 py-2">
                                <input type="number" id="minYear" name="minYear" placeholder="Min year" class="form-control" value="@Context.Request.Query["minYear"]" />
                            </div>
                            <div class="col-md-4 py-2">
                                <input type="number" id="maxYear" name="maxYear" placeholder="Max year" class="form-control" value="@Context.Request.Query["maxYear"]" />
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-4">
                                <input type="text" id="model" name="model" class="form-control" placeholder="Model" value="@Context.Request.Query["model"]" />
                            </div>
                            <div class="col-md-4">
                                <input type="number" id="minPrice" name="minPrice" placeholder="Min price" class="form-control" value="@Context.Request.Query["minPrice"]" />
                            </div>
                            <div class="col-md-4">
                                <input type="number" id="maxPrice" name="maxPrice" placeholder="Max price" class="form-control" value="@Context.Request.Query["maxPrice"]" />
                            </div>
                        </div>
                    </div>


                    <div class="row justify-content-end my-2">
                        <button class="btn btn-light w-15 rounded-pill me-2" type="button" id="clearButton">
                            Clear
                        </button>
                        <button class="btn btn-light w-15 rounded-pill me-2" type="button" data-bs-toggle="collapse" data-bs-target="#advancedFilters" aria-expanded="false" aria-controls="advancedFilters" id="moreFiltersButton">
                            More filters
                        </button>
                        <button type="submit" class="btn btn-primary w-15 rounded-pill me-4" id="basicFilterSubmitButton">
                            Filter
                        </button>
                    </div>
                </form>
            </div>


            <div id="advancedFiltersFormWrapper" style="display: none" class="justify-content-center align-items-center collapse  flex-column mb-3">
            <form method="get" id="advancedFiltersForm">
                    <div class="form-group bg-secondary p-3" id="advancedFilters" >

                        <div class="row my-1">
                            <div class="col-md-3">
                                <input type="text" id="make" name="make" class="form-control" placeholder="Make" value="@Context.Request.Query["make"]" />
                            </div>
                            <div class="col-md-3">
                                <input type="text" id="model" name="model" class="form-control" placeholder="Model" value="@Context.Request.Query["model"]" />
                            </div>
                            <div class="col-md-3">
                                <select id="carType" name="carType" class="form-control w-100">
                                    <option value="" disabled selected>Car type</option>
                                    @foreach (CarType typeOption in Enum.GetValues(typeof(CarType)))
                                    {
                                        @if (ViewBag.CarType == typeOption)
                                        {
                                            <option value="@typeOption" selected>@typeOption.ToString()</option>
                                        }
                                        else
                                        {
                                            <option value="@typeOption">@typeOption.ToString()</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select id="fuelType" name="fuelType" class="form-control w-100">
                                    <option value="" disabled selected>Fuel type</option>
                                    @foreach (CarFuelType fuelType in Enum.GetValues(typeof(CarFuelType)))
                                    {
                                        @if (ViewBag.FuelType == fuelType)
                                        {
                                            <option value="@fuelType" selected>@fuelType</option>
                                        }
                                        else
                                        {
                                            <option value="@fuelType">@fuelType</option>
                                        }
                                    }

                                </select>
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-md-3">
                                <select id="transmission" name="transmission" class="form-control w-100">
                                    <option value="" disabled selected>Transmission</option>
                                    @foreach (CarTransmission transmissionOption in Enum.GetValues(typeof(CarTransmission)))
                                    {
                                        @if (ViewBag.Transmission == transmissionOption)
                                        {
                                            <option value="@transmissionOption" selected>@transmissionOption.ToString()</option>
                                        }
                                        else
                                        {
                                            <option value="@transmissionOption">@transmissionOption.ToString()</option>
                                        }
                                    }
                                </select>

                            </div>
                            <div class="col-md-3">
                                <input type="text" id="color" name="color" placeholder="Color" class="form-control" value="@Context.Request.Query["color"]" />

                            </div>
                            <div class="col-md-3">
                                <input type="number" id="minPriceAdvanced" name="minPrice" placeholder="Min price" class="form-control" value="@Context.Request.Query["minPrice"]" />
                            </div>
                            <div class="col-md-3">
                                <input type="number" id="maxPriceAdvanced" name="maxPrice" placeholder="Max price" class="form-control" value="@Context.Request.Query["maxPrice"]" />
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-md-3">
                                <input type="number" id="minMileage" name="minMileage" placeholder="Min mileage" class="form-control" value="@Context.Request.Query["minMileage"]" />
                            </div>
                            <div class="col-md-3">
                                <input type="number" id="maxMileage" name="maxMileage" placeholder="Max mileage" class="form-control" value="@Context.Request.Query["maxMileage"]" />
                            </div>
                            <div class="col-md-3">
                                <input type="number" id="minYearAdvanced" name="minYear" placeholder="Min year" class="form-control" value="@Context.Request.Query["minYear"]" />
                            </div>
                            <div class="col-md-3">
                                <input type="number" id="maxYearAdvanced" name="maxYear" placeholder="Max year" class="form-control" value="@Context.Request.Query["maxYear"]" />
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-md-3">
                                <input type="number" id="minEngineVolume" placeholder="Min engine volume" name="minEngineVolume" class="form-control" value="@Context.Request.Query["minEngineVolume"]" />
                            </div>
                            <div class="col-md-3">
                                <input type="number" id="maxEngineVolume" placeholder="Max engine volume" name="maxEngineVolume" class="form-control" value="@Context.Request.Query["maxEngineVolume"]" />
                            </div>
                        </div>
                    </div>


                    <div class="row justify-content-end my-2">
                        <button class="btn btn-light w-15 rounded-pill me-2" type="button" id="clearButton">
                            Clear
                        </button>
                        <button class="btn btn-light w-15 rounded-pill me-2" type="button" data-bs-toggle="collapse" data-bs-target="#advancedFilters" aria-expanded="false" aria-controls="advancedFilters" id="lessFiltersButton">
                            Less filters
                        </button>
                        <button type="submit" class="btn btn-primary w-15 rounded-pill me-4" id="advancedFilterSubmitButton">
                            Filter
                        </button>
                    </div>
                </form>
            </div>
        </div>
        
        

        <div class="form-group mt-2">
            <select id="sortOrder" name="sortOrder" class="form-control w-100">
                <option value="" disabled selected>Sort order</option>
                <option value="">New first</option>
                @foreach (SortOrder sortOrderOption in Enum.GetValues(typeof(SortOrder)))
                {
                    @if (ViewBag.SortOrder == sortOrderOption)
                    {
                        <option value="@sortOrderOption" selected>@System.Text.RegularExpressions.Regex.Replace(sortOrderOption.ToString(), "(\\B[A-Z])", " $1")</option>
                    }
                    else
                    {
                        <option value="@sortOrderOption">@System.Text.RegularExpressions.Regex.Replace(sortOrderOption.ToString(), "(\\B[A-Z])", " $1")</option>
                    }
                }
            </select>
        </div>
    
</div>
<div class="row justify-content-around mx-0 mb-3 w-100">
    <button class="btn btn-secondary rounded-3 filters-mobile col-lg-4 col-md-5 col-sm-5 col-5" id="filters-mobile-button">
        Filters
    </button>

    <button class="btn btn-secondary rounded-3 filters-mobile col-lg-4 col-md-5 col-sm-5 col-5" id="filter-mobile-sort">
        Sort by
    </button>
</div>

<div class="filters-mobile" id="filters-mobile-list">
    <div class="row mt-4 justify-content-between w-100">
            <div class="col-5 "></div>
            <div class="col-6 "><p class="fs-5">Filters</p></div>
            <div class="col-1 "><img class="filterIcon" id="filter-mobile-close-button" src="~/icons/clear.svg" /></div>            
    </div>
    <div class="row justify-content-between mb-2 mx-0 row-mobile-filter">
        <label class="ps-3" for="minPrice">Price</label>
        <div class="col-6 pe-1">
            <input type="number" id="minPrice" name="minPrice" placeholder="Min price" class="form-control" value="@Context.Request.Query["minPrice"]" />
        </div>
        
        <div class="col-6 ps-1">
            <input type="number" id="maxPrice" name="maxPrice" placeholder="Max price" class="form-control" value="@Context.Request.Query["maxPrice"]" />
        </div>

    </div>
    <div class="row justify-content-between mb-2 mx-0 row-mobile-filter">
        <label class="ps-3" for="minYear">Year</label>
        <div class="col-6 pe-1">
            <input type="number" id="minYear" name="minYear" placeholder="Min year" class="form-control" value="@Context.Request.Query["minYear"]" />
        </div>
        <div class="col-6 ps-1">
            <input type="number" id="maxYear" name="maxYear" placeholder="Max year" class="form-control" value="@Context.Request.Query["maxYear"]" />
        </div>
    </div>
    <div class="row justify-content-between mb-2 mx-0 row-mobile-filter">
        <label class="ps-3" for="minYear">Mileage</label>
        <div class="col-6 pe-1">
            <input type="number" id="minMileage" name="minMileage" placeholder="Min mileage" class="form-control" value="@Context.Request.Query["minMileage"]" />
        </div>
        <div class="col-6 ps-1">
            <input type="number" id="maxMileage" name="maxMileage" placeholder="Max mileage" class="form-control" value="@Context.Request.Query["maxMileage"]" />
        </div>
    </div>

    <div class="row justify-content-between mb-2 mx-0 row-mobile-filter mobile-filter-select align-items-center" id="makeMobileFilter">
        <div class="col-3">
            <label class="ps-1" for="make">Make</label>
        </div>
        <div class="col-8 text-end">
            <p class="text-ellipsis"> @Context.Request.Query["make"].ToString() </p>
        </div>
        <div class="col-1 ps-0">
            <img class="filterIcon" src="~/icons/arrow_right_alt.svg" />
        </div>
    </div>
    <div class="row justify-content-between mb-2 mx-0 row-mobile-filter mobile-filter-select align-items-center">
        <div class="col-3">
            <label class="ps-1" for="make">Model</label>
        </div>
        <div class="col-8 text-end">
            <p class="text-ellipsis"> @Context.Request.Query["model"].ToString() </p>
        </div>
        <div class="col-1 ps-0">
            <img class="filterIcon" src="~/icons/arrow_right_alt.svg" />
        </div>
    </div>
    <div class="row justify-content-between mb-2 mx-0 row-mobile-filter mobile-filter-select align-items-center" id="carTypeMobileFilter">
        <div class="col-4">
            <label class="ps-1" for="make">Car type</label>
        </div>
        <div class="col-7 text-end">
            <p class="text-ellipsis"> @Context.Request.Query["carType"].ToString() </p>
        </div>
        <div class="col-1 ps-0">
            <img class="filterIcon" src="~/icons/arrow_right_alt.svg" />
        </div>
    </div>
    <div class="row justify-content-between mb-2 mx-0 row-mobile-filter mobile-filter-select align-items-center" id="fuelTypeMobileFilter">
        <div class="col-4">
            <label class="ps-1" for="make">Fuel type</label>
        </div>
        <div class="col-7 text-end">
            <p class="text-ellipsis"> @Context.Request.Query["fuelType"].ToString() </p>
        </div>
        <div class="col-1 ps-0">
            <img class="filterIcon" src="~/icons/arrow_right_alt.svg" />
        </div>
    </div>
    <div class="row justify-content-between mb-2 mx-0 row-mobile-filter">
        <label class="ps-3" for="minYear">Engine volume</label>
        <div class="col-6 pe-1">
            <input type="number" id="minEngineVolume" name="minEngineVolume" placeholder="Min engine volume" class="form-control" value="@Context.Request.Query["minEngineVolume"]" />
        </div>
        <div class="col-6 ps-1">
            <input type="number" id="maxEngineVolume" name="maxEngineVolume" placeholder="Max engine volume" class="form-control" value="@Context.Request.Query["maxEngineVolume"]" />
        </div>
    </div>
    <div class="row justify-content-between mb-2 mx-0 row-mobile-filter mobile-filter-select align-items-center" id="transmissionMobileFilter">
        <div class="col-3">
            <label class="ps-1" for="make">Transmission</label>
        </div>
        <div class="col-8 text-end">
            <p class="text-ellipsis"> @Context.Request.Query["transmission"].ToString() </p>
        </div>
        <div class="col-1 ps-0">
            <img class="filterIcon" src="~/icons/arrow_right_alt.svg" />
        </div>
    </div>
    <div class="row justify-content-between mb-2 mx-0 row-mobile-filter mobile-filter-select align-items-center" id="colorMobileFilter">
        <div class="col-3">
            <label class="ps-1" for="make">Color</label>
        </div>
        <div class="col-8 text-end">
            <p class="text-ellipsis"> @Context.Request.Query["color"].ToString() </p>
        </div>
        <div class="col-1 ps-0">
            <img class="filterIcon" src="~/icons/arrow_right_alt.svg" />
        </div>
    </div>
    <input type="hidden" id="make" name="make" />
    <input type="hidden" id="color" name="color" />
    <input type="hidden" id="transmission" name="transmission" />
    <input type="hidden" id="fuelType" name="fuelType" />
    <input type="hidden" id="carType" name="carType" />

    <button type="submit" class="btn btn-primary w-15 rounded-pill me-4" id="mobileFilterSubmitButton">
        Filter
    </button>
</div>


<div class="album py-5 px-3 bg-light">
    <div id="carsListing">
        @*All cars go here*@
    </div>
</div>

<div class="w-100 text-center mt-3">
    <button class="btn btn-primary rounded-pill" id="showMoreButton">Show more</button>
</div>



@section Scripts {
    <script>
        $(document).ready(function () {
            var carsDisplayed = 0;

            function getCars() {
                $.ajax({
                    url: '/Home/GetCars',
                    data: { carsDisplayed: carsDisplayed },
                    type: 'GET',
                    success: function (data) {
                        var html = $(data);
                        $('#carsListing').append(html);
                        carsDisplayed += html.data('cars-in-view');
                        console.log(html.data('show-more-button'));
                        if (html.data('show-more-button') == "False") {
                            $('#showMoreButton').hide();
                        }
                    },
                    error: function () {
                        alert('An error occurred while loading more cars.');
                    }
                });
            }

            getCars();

            $('#showMoreButton').click(function () {
                getCars();
            });
        });
    </script>
    <script>
        $('.btn').click(function () {
            $(this).blur();
        });
    </script>

    <script>
        $(document).ready(function () {
            var basicFiltersDimensions, advancedFiltersDimensions;
            console.log('loaded');
            var filtersExpanded = false;
            //$('#advancedFiltersFormWrapper').removeClass('collapse');

            setTimeout(function () {
                basicFiltersDimensions = getActualDimensions('#basicFiltersFormWrapper');
                console.log(basicFiltersDimensions);
                advancedFiltersDimensions = getActualDimensions('#advancedFiltersFormWrapper');
                // Hide #filters and #advancedFilters again
                $('#filters').css({
                    'width': basicFiltersDimensions.width,
                    'height': basicFiltersDimensions.height
                });
                $('#filters').css('display', '');
                $('#advancedFiltersFormWrapper').addClass('collapse');
            }, 0);

            $('#moreFiltersButton').click(function () {
                $('#filters').animate({ height: advancedFiltersDimensions.height, width: advancedFiltersDimensions.width }, 500);
                $('#basicFiltersFormWrapper').fadeOut(200);
                $('#advancedFiltersFormWrapper').fadeIn(200);
                filtersExpanded = true
                $(this).blur();
            });
            $('#lessFiltersButton').click(function () {
                $('#filters').animate({ height: basicFiltersDimensions.height, width: basicFiltersDimensions.width }, 500);
                $('#advancedFiltersFormWrapper').fadeOut(200);
                $('#basicFiltersFormWrapper').fadeIn(200);
                filtersExpanded = false;
            });

            $('#clearButton').click(function () {
                $('#basicFiltersForm input[type="text"], #basicFiltersForm input[type="number"]').val('');

                $('#basicFiltersForm select').prop('selectedIndex', 0);

                $('#advancedFiltersForm input[type="text"], #advancedFiltersForm input[type="number"]').val('');

                $('#advancedFiltersForm select').prop('selectedIndex', 0);
                $(this).blur();
            });
            $('#filterSubmitButton').click(function () {
                $(this).blur();
            });

            $('#filters-mobile-button').click(function () {
                $('#filters-mobile-list').toggleClass('open');
            });

            $('#filter-mobile-close-button').click(function () {
                $('#filters-mobile-list').removeClass('open');
            });

            var carMakes = @Json.Serialize(ViewBag.CarMakes);
            var carColors = @Json.Serialize(Enum.GetValues(typeof(CarColor)).Cast<CarColor>().ToList());
            var carTransmissions = @Json.Serialize(Enum.GetValues(typeof(CarTransmission)).Cast<CarTransmission>().ToList());
            var carFuelTypes = @Json.Serialize(Enum.GetValues(typeof(CarFuelType)).Cast<CarFuelType>().ToList());
            var carTypes = @Json.Serialize(Enum.GetValues(typeof(CarType)).Cast<CarType>().ToList());
            var filterValues = {
                'makeMobileFilter': carMakes,
                'colorMobileFilter': carColors,
                'transmissionMobileFilter': carTransmissions,
                'fuelTypeMobileFilter': carFuelTypes,
                'carTypeMobileFilter': carTypes,
            };


            $('.mobile-filter-select').click(function () {
                var filterType = $(this).attr('id');

                var values = filterValues[filterType];
                if (values) {
                    var newScreen = $('<div></div>').addClass('mobile-filter-select-screen').addClass('d-flex').addClass('flex-column').addClass('vh-100');
                    newScreen.append('<div class="row mt-4 justify-content-between w-100"> <div class="col-5 "></div> <div class="col-6 "><p class="fs-5">Select</p></div> <div class="col-1 " id="filter-mobile-select-close-button"><img class="filterIcon"  src="/icons/clear.svg" /></div> </div>');
                    var listItems = $('<div></div>').addClass('mobile-list-items').addClass('mb-auto');

                    values.forEach(function (value) {
                        var listItem = $('<div></div>').addClass('mobile-list-item');
                        var label = $('<label></label>').text(value);
                        var checkbox = $('<input>').attr({ type: 'checkbox', value: value });

                        listItem.append(label);
                        listItem.append(checkbox);
                        listItems.append(listItem);
                    });
                    newScreen.append(listItems);
                    newScreen.append('<div class="row mt-auto"> <div class="col-6"><button class="btn btn-secondary rounded-pill py-2 w-100"> <img class="carIcon" src="/icons/clear.svg" /> Clear</button></div> <div class="col-6">  <button class="btn btn-primary rounded-pill py-2 w-100"> <img class="carIcon" src="/icons/search.svg" /> Find</button> </div></div>');

                    $('body').append(newScreen);

                    newScreen.toggleClass('open');
                }
            });

            $(document).on('click', '#filter-mobile-select-close-button', function () {
                $('.mobile-filter-select-screen').remove();
            });

           

        });

        function getActualDimensions(selector) {
            var previousCss = $(selector).attr("style");

            var dimensions = {
                height: $(selector).outerHeight(true),
                width: $(selector).outerWidth(true)
            };

            $(selector).attr("style", previousCss ? previousCss : "");

            return dimensions;
        }
       

    </script>
    <script>
        $(document).ready(function () {
            console.log(@Context.Request.Query["minYear"]);

            var showShowMoreButton = '@ViewBag.ShowMoreButton' === 'True';
            console.log(showShowMoreButton);
            if (!showShowMoreButton) {
                $('#showMoreButton').hide();
            }
        });
    </script>
}