@using EuroCarsUSA.Resources
@using EuroCarsUSA.ViewModels
@using EuroCarsUSA.Data.Enums
@using EuroCarsUSA.Extensions
@using EuroCarsUSA.Models
@using EuroCarsUSA.Views.Shared.Components
@using Microsoft.Extensions.Localization
@model MainlViewModel
@inject Localizer localizer

@if(Model.LastAddedCar is null)
{
    <div class="w-100">
        <h2>Pusto</h2>
    </div>
}
else
{
<div>
        <a asp-action="Catalog">
            <img class="w-100 d-none d-lg-block" src="~/Header_pl-PL.jpg" />
        </a>

        <div class="container">
            <div class="bg-neutral-200 row mx-0 gap-4 p-4">
                <div class="col-12 px-0">
                    <div class="row g-4 g-md-3 d-flex">
                        <div class="col-lg-4 col-md-6 col-12 order-2 order-md-1">
                            <div class="bg-white rounded-16 p-3">
                                <div class="row mx-0 text-headline-sm mb-3">
                                    @localizer.LastAddedAuto
                                </div>
                                <div class="auto-card">
                                    @{
                                        CarCardViewModel lastCar = Model.LastAddedCar;
                                        lastCar.Classes = "col-12";
                                        lastCar.IsFullSize = true;
                                        @await Html.PartialAsync("_CarCard", lastCar)
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-6 col-12 order-1 order-md-2">
                            <div class="bg-white rounded-16 pt-3 px-0 pb-2">
                                <div class="row mx-0 mb-3 px-3 d-flex align-items-stretch justify-content-end">
                                    <div class="col px-0 text-headline-sm text-nowrap">@localizer.WeRecommend</div>
                                    <div class="col px-0 flex-grow-1 justify-content-end d-sm-flex d-none d-md-none d-lg-flex">
                                        <a asp-controller="Home" asp-action="Catalog">
                                            @await Html.PartialAsync("_Button", new _Button
                                            {
                                                Text = localizer.SeeAll,
                                                Color = "primary",
                                                Classes = "py-0 h-100",
                                                LeftIcon = null,
                                                RightIcon = await Html.PartialAsync("_Icon", new { IconName = Url.Content("Keyboard arrow right"), Color = "white" }),
                                                TextColor = ""
                                            })
                                        </a>
                                    </div>            
                                </div>
                                <div class="px-3">
                                    <div class="overflow-visible rounded-3">
                                        <div class="row g-3 py-2 pt-0 main-recommend">
                                    
                                            @for (int i = 0; i < (float)(Model.RecomendedCars.Count()/2); i += 1)
                                            {
                                                CarCardViewModel car1 = Model.RecomendedCars[i * 2];
                                                car1.Classes = "col-6 col-md-12";
                                                car1.IsFullSize = false;

                                                CarCardViewModel car2 = Model.RecomendedCars[i * 2 + 1];
                                                car2.Classes = "col-6 col-md-12";
                                                car2.IsFullSize = false;

                                                <div class="col-12 col-sm-10 col-md-8 col-lg-4 overflow-visible mt-md-0">
                                                    <div class="row mt-0 h-100 gx-2 gx-sm-3 gy-md-3 overflow-visible justify-content-between align-content-between">
                                                        @await Html.PartialAsync("_CarCard", car1)
                                                        @await Html.PartialAsync("_CarCard", car2)
                                                    </div>
                                                </div>
                                            }
                                            @if ((float)(Model.RecomendedCars.Count()%2) != 0) 
                                            {
                                                CarCardViewModel car1 = Model.RecomendedCars[Model.RecomendedCars.Count()-1];
                                                car1.Classes = "col-12";
                                                car1.IsFullSize = false;

                                                <div class="col-12 col-sm-10 col-md-8 col-lg-4 overflow-visible mt-md-0">
                                                    <div class="row mt-0 h-100 gx-3 gy-md-3 overflow-visible justify-content-between align-content-between">
                                                        @await Html.PartialAsync("_CarCard", car1)
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex d-sm-none d-md-flex d-lg-none px-3 py-2">
                                    <a asp-controller="Home" asp-action="Catalog" class="w-100">
                                        @await Html.PartialAsync("_Button", new _Button
                                        {
                                            Text = localizer.SeeAll,
                                            Color = "primary",
                                            Classes = "py-1 py-md-2 w-100",
                                            LeftIcon = null,
                                            RightIcon = await Html.PartialAsync("_Icon", new { IconName = Url.Content("Keyboard arrow right"), Color = "white" }),
                                            TextColor = ""
                                        })
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="col-12 px-0">
                <div class="row bg-white mx-0 p-3 rounded-16">
                    <div class="col px-0">
                        <div class="row gx-5 gy-3">
                            <div class="col-lg-4">
                                <div class="bg-neutral-100 rounded-16 p-3">
                                    <div class="pb-3 text-headline-sm text-center">@localizer.AboutUs</div>
                                    <div class="text-body-md">
                                        @localizer.AboutUsText
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="bg-neutral-100 rounded-16 p-3">
                                    <div class="pb-3 text-headline-sm text-center">@localizer.PhoneContact</div>
                                    <div class="text-body-md pb-2">
                                        @localizer.PhoneContactText
                                    </div>
                                    <div class="d-flex justify-content-center">
                                            <a href="tel:+48785095868" class="my-2">
                                            @await Html.PartialAsync("_Button", new _Button
                                            {
                                           Text = "+48 785 095 868",
                                                Color = "primary",
                                                LeftIcon = await Html.PartialAsync("_Icon", new { IconName = Url.Content("Phone"), Color = "white" }),
                                                RightIcon = null,
                                            })
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="bg-neutral-100 rounded-16 p-3">
                                    <div class="pb-3 text-headline-sm text-center">@localizer.FormContact</div>
                                    <div class="text-body-md pb-2">
                                        @localizer.FormContactText
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <a asp-controller="CustomOrder" asp-action="Index">
                                            @await Html.PartialAsync("_Button", new _Button
                                            {
                                                Text = localizer.IndividualOrder,
                                                Color = "primary",
                                                LeftIcon = null,
                                                RightIcon = await Html.PartialAsync("_Icon", new { IconName = Url.Content("Arrow forward"), Color = "white" }),
                                            })
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.ShippingCars.Count() > 0)
            {
                <div class="col-12 px-0">
                    <div class="row bg-white p-3 pb-2 pb-md-3 rounded-16 mx-0">
                        <div class="col px-0">
                            <div class="row p-0 mx-0 text-headline-sm mb-0 mb-md-2">@localizer.ShippingCars</div>
                            <div class="row px-0 gx-3 main-wdrodze">
                                @foreach (CarCardViewModel car in Model.ShippingCars)
                                {
                                    car.Classes = "col-9 col-sm-5 col-lg-3 my-2 my-md-0";
                                    car.IsFullSize = false;
                                    @await Html.PartialAsync("_CarCard", car)
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (Model.SoldCars.Count() > 0)
            {
                <div class="col-12 px-0">
                    <div class="row bg-white p-3 pb-2 pb-md-3 rounded-16 mx-0">
                        <div class="col px-0">
                            <div class="row p-0 mx-0 text-headline-sm mb-0 mb-md-2">@localizer.SoldCars</div>
                            <div class="row px-0 gx-3 main-wdrodze">
                                @foreach (CarCardViewModel car in Model.SoldCars)
                                {
                                    car.Classes = "col-9 col-sm-5 col-lg-3 my-2 my-md-0";
                                    car.IsFullSize = false;
                                    @await Html.PartialAsync("_CarCard", car)
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

}