@using EuroCarsUSA.Data.Enum

@model IEnumerable<Car>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="py-4 px-4 align-items-center justify-content-center d-flex flex-column" >
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#filters"    aria-controls="filters">
            Filters
        </button>
        <div class="form-group collapse bg-secondary mt-2" id="filters">
            <div class="justify-content-center align-items-center  pb-2"  id="basicFiltersFormWrapper">
            <form method="get" id="basicFiltersForm">

                    <div id="basicFilters" class="p-3">
                        <div class="row justify-content-center">
                            <div class="col-md-4 py-2">
                                <input type="text" id="make" name="make" class="form-control" placeholder="Make" value="@Context.Request.Query["make"]" />
                            </div>
                            <div class="col-md-4 py-2">
                                <input type="number" id="minYear" name="minYear" placeholder="Min year" class="form-control" value="@Context.Request.Query["minYear"]" />
                            </div>
                            <div class="col-md-4 py-2">
                                <input type="number" id="maxYear" name="maxYear" placeholder="Max year" class="form-control" value="@Context.Request.Query["maxYear"]" />
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-4">
                                <input type="text" id="model" name="model" class="form-control" placeholder="Model" value="@Context.Request.Query["model"]" />
                            </div>
                            <div class="col-md-4">
                                <input type="number" id="minPrice" name="minPrice" placeholder="Min price" class="form-control" value="@Context.Request.Query["minPrice"]" />
                            </div>
                            <div class="col-md-4">
                                <input type="number" id="maxPrice" name="maxPrice" placeholder="Max price" class="form-control" value="@Context.Request.Query["maxPrice"]" />
                            </div>
                        </div>
                    </div>


                    <div class="row justify-content-end my-2">
                        <button class="btn btn-light w-15 rounded-pill me-2" type="button" id="clearButton">
                            Clear
                        </button>
                        <button class="btn btn-light w-15 rounded-pill me-2" type="button" data-bs-toggle="collapse" data-bs-target="#advancedFilters" aria-expanded="false" aria-controls="advancedFilters" id="moreFiltersButton">
                            More filters
                        </button>
                        <button type="submit" class="btn btn-primary w-15 rounded-pill me-4" id="basicFilterSubmitButton">
                            Filter
                        </button>
                    </div>
                </form>
            </div>


            <div id="advancedFiltersFormWrapper" style="display: none" class="justify-content-center align-items-center collapse  flex-column mb-3">
            <form method="get" id="advancedFiltersForm">
                    <div class="form-group bg-secondary p-3" id="advancedFilters" >

                        <div class="row my-1">
                            <div class="col-md-3">
                                <input type="text" id="make" name="make" class="form-control" placeholder="Make" value="@Context.Request.Query["make"]" />
                            </div>
                            <div class="col-md-3">
                                <input type="text" id="model" name="model" class="form-control" placeholder="Model" value="@Context.Request.Query["model"]" />
                            </div>
                            <div class="col-md-3">
                                <select id="carType" name="carType" class="form-control w-100">
                                    <option value="" disabled selected>Car type</option>
                                    @foreach (CarType typeOption in Enum.GetValues(typeof(CarType)))
                                    {
                                        @if (ViewBag.CarType == typeOption)
                                        {
                                            <option value="@typeOption" selected>@typeOption.ToString()</option>
                                        }
                                        else
                                        {
                                            <option value="@typeOption">@typeOption.ToString()</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select id="fuelType" name="fuelType" class="form-control w-100">
                                    <option value="" disabled selected>Fuel type</option>
                                    @foreach (CarFuelType fuelType in Enum.GetValues(typeof(CarFuelType)))
                                    {
                                        @if (ViewBag.FuelType == fuelType)
                                        {
                                            <option value="@fuelType" selected>@fuelType</option>
                                        }
                                        else
                                        {
                                            <option value="@fuelType">@fuelType</option>
                                        }
                                    }

                                </select>
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-md-3">
                                <select id="transmission" name="transmission" class="form-control w-100">
                                    <option value="" disabled selected>Transmission</option>
                                    @foreach (CarTransmission transmissionOption in Enum.GetValues(typeof(CarTransmission)))
                                    {
                                        @if (ViewBag.Transmission == transmissionOption)
                                        {
                                            <option value="@transmissionOption" selected>@transmissionOption.ToString()</option>
                                        }
                                        else
                                        {
                                            <option value="@transmissionOption">@transmissionOption.ToString()</option>
                                        }
                                    }
                                </select>

                            </div>
                            <div class="col-md-3">
                                <input type="text" id="color" name="color" placeholder="Color" class="form-control" value="@Context.Request.Query["color"]" />

                            </div>
                            <div class="col-md-3">
                                <input type="number" id="minPriceAdvanced" name="minPrice" placeholder="Min price" class="form-control" value="@Context.Request.Query["minPrice"]" />
                            </div>
                            <div class="col-md-3">
                                <input type="number" id="maxPriceAdvanced" name="maxPrice" placeholder="Max price" class="form-control" value="@Context.Request.Query["maxPrice"]" />
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-md-3">
                                <input type="number" id="minMileage" name="minMileage" placeholder="Min mileage" class="form-control" value="@Context.Request.Query["minMileage"]" />
                            </div>
                            <div class="col-md-3">
                                <input type="number" id="maxMileage" name="maxMileage" placeholder="Max mileage" class="form-control" value="@Context.Request.Query["maxMileage"]" />
                            </div>
                            <div class="col-md-3">
                                <input type="number" id="minYearAdvanced" name="minYear" placeholder="Min year" class="form-control" value="@Context.Request.Query["minYear"]" />
                            </div>
                            <div class="col-md-3">
                                <input type="number" id="maxYearAdvanced" name="maxYear" placeholder="Max year" class="form-control" value="@Context.Request.Query["maxYear"]" />
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-md-3">
                                <input type="number" id="minEngineVolume" placeholder="Min engine volume" name="minEngineVolume" class="form-control" value="@Context.Request.Query["minEngineVolume"]" />
                            </div>
                            <div class="col-md-3">
                                <input type="number" id="maxEngineVolume" placeholder="Max engine volume" name="maxEngineVolume" class="form-control" value="@Context.Request.Query["maxEngineVolume"]" />
                            </div>
                        </div>
                    </div>


                    <div class="row justify-content-end my-2">
                        <button class="btn btn-light w-15 rounded-pill me-2" type="button" id="clearButton">
                            Clear
                        </button>
                        <button class="btn btn-light w-15 rounded-pill me-2" type="button" data-bs-toggle="collapse" data-bs-target="#advancedFilters" aria-expanded="false" aria-controls="advancedFilters" id="lessFiltersButton">
                            Less filters
                        </button>
                        <button type="submit" class="btn btn-primary w-15 rounded-pill me-4" id="advancedFilterSubmitButton">
                            Filter
                        </button>
                    </div>
                </form>
            </div>
        </div>
        
        

        <div class="form-group mt-2">
            <select id="sortOrder" name="sortOrder" class="form-control w-100">
                <option value="" disabled selected>Sort order</option>
                <option value="">New first</option>
                @foreach (SortOrder sortOrderOption in Enum.GetValues(typeof(SortOrder)))
                {
                    @if (ViewBag.SortOrder == sortOrderOption)
                    {
                        <option value="@sortOrderOption" selected>@System.Text.RegularExpressions.Regex.Replace(sortOrderOption.ToString(), "(\\B[A-Z])", " $1")</option>
                    }
                    else
                    {
                        <option value="@sortOrderOption">@System.Text.RegularExpressions.Regex.Replace(sortOrderOption.ToString(), "(\\B[A-Z])", " $1")</option>
                    }
                }
            </select>
        </div>
    
</div>


<div class="album py-5 px-5 bg-light">
    <div class="container" id="carsListing">
        @for (int i = 0; i < Math.Ceiling(Model.Count() / 3.0); i++)
        {

            <div class="row">
                @foreach (Car car in Model.Skip(i * 3).Take(3))
                {
                   
                        <div class="col-md-4">
                             <a asp-controller="Home" , asp-action="Detail" , asp-route-id=@car.Id class="text-black text-decoration-none">
                            <div class="card mb-4 pt-2 box-shadow rounded-xxl">
                                <div class="img-container overflow-hidden mx-3 mt-1">
                                        <img class="card-img float-left rounded-xxl" src=@car.Images[0] alt=@(car.Color + car.Make + car.Model)>
                                    
                                </div>

                                <div class="card-body">

                                    <div class="row justify-content-between">
                                        <!-- Car name -->
                                        <div class="col">
                                             <b>@(car.Make + " " + car.Model)</b> 
                                        </div>
                                        <!-- Price -->
                                        <div class="col text-end">
                                             <p>@(car.Price)</p>
                                        </div>
                                    </div>

                                    <!-- divider -->
                                    <hr style="border-top: 1px solid #000;">


                                    <div class="row justify-content-between">
                                        <div class="col">
                                            <div class="row">

                                                <div class="d-flex align-items-center justify-content-start">
                                                    <img class="carIcon" src="/icons/car_millage.svg">
                                                    <b class="ms-2">Mileage</b>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <p>@car.Mileage</p>
                                            </div>

                                            <div class="row">
                                                <div class="d-flex align-items-center justify-content-start">
                                                    <img class="carIcon" src="/icons/car_fueltype.svg">
                                                    <b class="ms-2">Fuel type</b>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <p>@car.FuelType.ToString()</p>
                                            </div>

                                        </div>
                                        <div class="col text-end">
                                            <div class="row">
                                                <div class="d-flex align-items-center justify-content-end">
                                                    <img class="carIcon" src="/icons/car_gearbox.svg">
                                                    <b class="ms-2">Gearbox</b>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <p>@car.Transmission.ToString()</p>
                                            </div>

                                            <div class="row">
                                                <div class="d-flex align-items-center justify-content-end">
                                                    <img class="carIcon" src="/icons/car_year.svg">
                                                    <b class="ms-2">Year</b>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <p>@car.Year</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row d-flex justify-content-end align-items-end mb-3">
                                    <a class="btn btn-secondary rounded-pill me-2 w-25" asp-controller="Home" , asp-action="Detail" , asp-route-id=@car.Id>
                                        Details
                                    </a>

                                    <button type="button" class="btn btn-primary rounded-pill me-4 w-25">
                                        <i class="fas fa-heart px-3 py-1"></i>
                                    </button>
                                </div>


                            </div>
                        </a>
                        </div>
                    
                }
            </div>
        }
    </div>
</div>

<div class="w-100 text-center mt-3">
    <button class="btn btn-primary rounded-pill" id="showMoreButton">Show more</button>
</div>



@section Scripts {
    <script>
        $(document).ready(function () {
            var additionalCarsDisplayed = 0;

            $('#showMoreButton').click(function () {
                $.ajax({
                    url: '/Home/GetMoreCars',
                    data: { additionalCarsDisplayed: additionalCarsDisplayed },
                    type: 'GET',
                    success: function (data) {
                        var html = $(data);
                        $('#carsListing').append(html);
                        additionalCarsDisplayed += html.data('cars-in-view');
                        console.log(html.data('show-more-button'));
                        if (html.data('show-more-button') == "False") {
                            $('#showMoreButton').hide();
                        }
                    },

                    error: function () {
                        alert('An error occurred while loading more cars.');
                    }
                });
            });
        });
    </script>
    <script>
        $('.btn').click(function () {
            $(this).blur();
        });
    </script>

    <script>
        $(document).ready(function () {
            var basicFiltersDimensions, advancedFiltersDimensions;

            var filtersExpanded = false;

            $('#filters').css('display', 'block');
            //$('#advancedFiltersFormWrapper').removeClass('collapse');

            setTimeout(function () {
                basicFiltersDimensions = getActualDimensions('#basicFiltersFormWrapper');
                console.log(basicFiltersDimensions);
                advancedFiltersDimensions = getActualDimensions('#advancedFiltersFormWrapper');
                // Hide #filters and #advancedFilters again
                $('#filters').css({
                    'width': basicFiltersDimensions.width,
                    'height': basicFiltersDimensions.height
                });
                $('#filters').css('display', '');
                $('#advancedFiltersFormWrapper').addClass('collapse');
            }, 0);

            $('#moreFiltersButton').click(function () {
                $('#filters').animate({ height: advancedFiltersDimensions.height, width: advancedFiltersDimensions.width }, 500);
                $('#basicFiltersFormWrapper').fadeOut(200);
                $('#advancedFiltersFormWrapper').fadeIn(200);
                    filtersExpanded = true
                $(this).blur();
            });
            $('#lessFiltersButton').click(function () {
                $('#filters').animate({ height: basicFiltersDimensions.height, width: basicFiltersDimensions.width }, 500);
                $('#advancedFiltersFormWrapper').fadeOut(200);
                $('#basicFiltersFormWrapper').fadeIn(200);
                filtersExpanded = false;
            });

            $('#clearButton').click(function () {
                $('#basicFiltersForm input[type="text"], #basicFiltersForm input[type="number"]').val('');

                $('#basicFiltersForm select').prop('selectedIndex', 0);

                $('#advancedFiltersForm input[type="text"], #advancedFiltersForm input[type="number"]').val('');

                $('#advancedFiltersForm select').prop('selectedIndex', 0);
                $(this).blur();
            });
            $('#filterSubmitButton').click(function () {
                $(this).blur();
            });




        });

        function getActualDimensions(selector) {
            var previousCss = $(selector).attr("style");

            var dimensions = {
                height: $(selector).outerHeight(true),
                width: $(selector).outerWidth(true)
            };

            $(selector).attr("style", previousCss ? previousCss : "");

            return dimensions;
        }

    </script>
    <script>
        $(document).ready(function () {
            console.log(@Context.Request.Query["minYear"]);

            var showShowMoreButton = '@ViewBag.ShowMoreButton' === 'True';
            console.log(showShowMoreButton);
            if (!showShowMoreButton) {
                $('#showMoreButton').hide();
            }
        });
    </script>
}