@using EuroCarsUSA.ViewModels

<div>
    <img class="w-100" style="height: 340px;"></img>
    <div class="bg-neutral-200 row mx-0 gap-4" style="padding: 32px;">
        <div class="col-12 px-0">
            <div class="row mx-0">
                <div class="col-4 p-0 px-4 py-3 bg-white rounded-16 me-4">
                    <div class="row mx-0 text-headline-sm mb-3">
                        Last added auto
                    </div>
                    <div class="auto-card">
                        auto-card
                    </div>
                </div>
                <div class="col p-0 px-4 py-3 bg-white rounded-16">
                    <div class="row mx-0 mb-3 d-flex align-items-stretch">
                        <div class="col px-0 text-headline-sm">We recommend</div>
                        <div class="col px-0 flex-grow-1 justify-content-end d-flex">
                            @Html.Partial("_Button", new
                                {
                                    Text = "See all",
                                    Color = "primary",
                                    Classes = "py-0 h-100 bg-white",
                                    Attributes = "",
                                    LeftIcon = (object)null,
                                    RightIcon = @Html.Partial("_Icon", new { IconName = Url.Content("Keyboard arrow right"), Color = "neutral900" }),
                                    TextColor = "text-neutral-900",
                                })

                            @if (User.IsInRole("Admin"))
                            {
                                @Html.Partial("_Button", new
                                    {
                                        Text = "Edit",
                                        Color = "primary",
                                        Classes = "py-0 h-100 ms-2",
                                        Attributes = "",
                                        LeftIcon = @Html.Partial("_Icon", new { IconName = Url.Content("Mode"), Color = "white" }),
                                        RightIcon = (object)null,
                                        TextColor = "",
                                    })
                            }
                        </div>
                    
                        
                    </div>
                    <div class="recomendations"></div>
                </div>
            </div>
        </div>

        <div class="col-12 px-0">
            <div class="row bg-white mx-0 px-4 py-3 rounded-16">
                <div class="col px-0">
                    <div class="row mx-0 text-headline-sm mb-3">About us & contact</div>
                    <div class="px-2 py-3 row mx-0 gap-5">
                        <div class="col bg-neutral-100 rounded-16 p-3">
                            <div class="pb-3 text-headline-sm text-center">About us</div>
                            <div class="text-body-md">
                                We are Belarus-based company thats provides a wide spector of cars with low-cost prices.
                                We bought cars if US, which provides a reason of such cheap costs.
                                We want to sell cars all across the EU, but now we are currecntly focused on Poland.
                            </div>
                        </div>
                        <div class="col bg-neutral-100 rounded-16 p-3">
                            <div class="pb-3 text-headline-sm text-center">Contact through phone</div>
                            <div class="text-body-md pb-2">
                                If you want to contact us you can just call us using this number
                            </div>
                            <div class="d-flex justify-content-center">
                                <a>
                                    @Html.Partial("_Button", new
                                        {
                                            Text = "+48 53-44-22-089",
                                            Color = "primary",
                                            Classes = "",
                                            Attributes = "",
                                            LeftIcon = @Html.Partial("_Icon", new { IconName = Url.Content("Phone"), Color = "white" }),
                                            RightIcon = (object)null,
                                            TextColor = "",
                                        })
                                </a>
                            </div>
                        </div>
                        <div class="col bg-neutral-100 rounded-16 p-3">
                            <div class="pb-3 text-headline-sm text-center">Contact through form</div>
                            <div class="text-body-md pb-2">
                                Another way to contact us is using simple form. Just click on button below. After clicking a tiny window with form will pop-up.
                            </div>

                            <div class="d-flex justify-content-center">
                                <a>
                                    @Html.Partial("_Button", new
                                        {
                                            Text = "Start making form",
                                            Color = "primary",
                                            Classes = "",
                                            Attributes = "",
                                            LeftIcon = (object)null,
                                            RightIcon = @Html.Partial("_Icon", new { IconName = Url.Content("Arrow forward"), Color = "white" }),
                                            TextColor = "",
                                        })
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 px-0">
            <div class="row bg-white mx-0 px-4 py-3 rounded-16">
                <div class="row p-0 mx-0 text-headline-sm mb-3">Individual order</div>
                <div class="p-0 d-flex justify-content-between">
                    <div class="text-body-md">If there is no car you looking you can order car by dealer directly with you price</div>
                    <a asp-controller="CustomOrder" asp-action="Index">
                        @Html.Partial("_Button", new
                            {
                                Text = "Start ordering",
                                Color = "primary",
                                Classes = "",
                                Attributes = "",
                                LeftIcon = (object)null,
                                RightIcon = @Html.Partial("_Icon", new { IconName = Url.Content("Arrow forward"), Color = "white" }),
                                TextColor = "",
                            })
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 px-0">
            <div class="row bg-white mx-0 px-4 py-3 rounded-16">
                <div class="row p-0 mx-0 text-headline-sm mb-3">Samochody w drodze</div>
                <div></div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <script>

    </script>
}