@using EuroCarsUSA.ViewModels

<div>
    <img class="w-100" style="height: 340px;"></img>
    <div class="bg-neutral-200 row mx-0 gap-4" style="padding: 32px;">
        <div class="col-12 px-0">
            <div class="row mx-0">
                <div class="col-4 p-0 px-4 py-3 bg-white rounded-16 me-4">
                    <div class="row mx-0 text-headline-sm mb-3">
                        Last added auto
                    </div>
                    <div class="auto-card">
                        auto-card
                    </div>
                </div>
                <div class="col p-0 px-4 py-3 bg-white rounded-16">
                    <div class="row mx-0 text-headline-sm mb-3">
                        <div class="col px-0">We recommend</div>
                        @{
                            ViewData["Color"] = "primary";
                            ViewData["Text"] = "See all";
                            ViewData["RightIcon"] = true;
                            ViewData["LeftIcon"] = false;
                            ViewData["RightIconSrc"] = Url.Content("Keyboard arrow right");
                        }
                        <a asp-controller="Home" asp-action="Index" class="col-auto px-0">
                            @Html.Partial("_Button")
                        </a>

                        @if (User.IsInRole("Admin"))
                        {
                            ViewData["Color"] = "primary";
                            ViewData["Text"] = "Edit";
                            ViewData["LeftIcon"] = true;
                            ViewData["LeftIconSrc"] = Url.Content("Mode");
                            ViewData["RightIcon"] = false;
                            <a asp-controller="Home" asp-action="Index" class="col-auto pe-0 ps-2">
                                @Html.Partial("_Button")
                            </a>
                        }
                    </div>
                    <div class="recomendations"></div>
                </div>
            </div>
        </div>

        <div class="col-12 px-0">
            <div class="row bg-white mx-0 px-4 py-3 rounded-16">
                <div class="col px-0">
                    <div class="row mx-0 text-headline-sm mb-3">About us & contact</div>
                    <div class="px-2 py-3 row mx-0 gap-5">
                        <div class="col bg-neutral-100 rounded-16 p-3">
                            <div class="pb-3 text-headline-sm text-center">About us</div>
                            <div class="text-body-md">
                                We are Belarus-based company thats provides a wide spector of cars with low-cost prices.
                                We bought cars if US, which provides a reason of such cheap costs.
                                We want to sell cars all across the EU, but now we are currecntly focused on Poland.
                            </div>
                        </div>
                        <div class="col bg-neutral-100 rounded-16 p-3">
                            <div class="pb-3 text-headline-sm text-center">Contact through phone</div>
                            <div class="text-body-md pb-2">
                                If you want to contact us you can just call us using this number
                            </div>
                            <div class="d-flex justify-content-center">
                                <a>
                                    @{
                                        ViewData["Color"] = "primary";
                                        ViewData["Text"] = "+48 53-44-22-089";
                                        ViewData["LeftIcon"] = true;
                                        ViewData["RightIcon"] = false;
                                        ViewData["LeftIconSrc"] = Url.Content("Phone");
                                    }
                                    @Html.Partial("_Button")
                                </a>
                            </div>
                        </div>
                        <div class="col bg-neutral-100 rounded-16 p-3">
                            <div class="pb-3 text-headline-sm text-center">Contact through form</div>
                            <div class="text-body-md pb-2">
                                Another way to contact us is using simple form. Just click on button below. After clicking a tiny window with form will pop-up.
                            </div>

                            <div class="d-flex justify-content-center">
                                <a>
                                    @{
                                        ViewData["Color"] = "primary";
                                        ViewData["Text"] = "Start making form";
                                        ViewData["LeftIcon"] = false;
                                        ViewData["RightIcon"] = true;
                                        ViewData["RightIconSrc"] = Url.Content("Arrow forward");
                                    }
                                    @Html.Partial("_Button")
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 px-0">
            <div class="row bg-white mx-0 px-4 py-3 rounded-16">
                <div class="row p-0 mx-0 text-headline-sm mb-3">Individual order</div>
                <div class="p-0 d-flex justify-content-between">
                    <div class="text-body-md">If there is no car you looking you can order car by dealer directly with you price</div>
                    <a asp-controller="CustomOrder"
                       asp-action="Index">
                        @{
                            ViewData["Color"] = "primary";
                            ViewData["Text"] = "Start ordering";
                            ViewData["LeftIcon"] = false;
                            ViewData["RightIcon"] = true;
                            ViewData["RightIconSrc"] = Url.Content("Arrow forward");
                        }
                        @Html.Partial("_Button")
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 px-0">
            <div class="row bg-white mx-0 px-4 py-3 rounded-16">
                <div class="row p-0 mx-0 text-headline-sm mb-3">Samochody w drodze</div>
                <div></div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <script>

    </script>
}